$total-columns: 4;
$column-width: 5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$break: 10 lt-ie9;

.container {
  @include container;

  :target & { 
    @include susy-grid-background(); 
    .off a { display: block; }
    .on a { display: none; }
  }
  
  @include at-breakpoint($break) {
    @include container;
    :target & { @include susy-grid-background(); }
    
  }
}

.ephemera {
  clear: both;
}

//Exceptions

body.guides_reference,body.guides_getting-started {
  
  @include at-breakpoint($break) {
    
    .side_content {
      @include span-columns(3);
    }
  
    .main_content {
      @include span-columns(7 omega);
      @include pad(0,0);
    }
  }
}
