$total-columns: 4;
$column-width: 5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$break: 10 lt-ie9;

.container {
  @include container;

  .grid-toggle {
    margin: 0;
    padding: 0;
    list-style: none;
    .off { display: none; }
  }
  :target & { 
    @include susy-grid-background(); 
    .off { display: block; }
    .on { display: none; }
  }
  
  @include at-breakpoint($break) {
    @include container;
    :target & { @include susy-grid-background(); }
    
    .main_content {
      @include span-columns(8);
      @include push(1);
    }
  }
}

.ephemera {
  clear: both;
}

//Exceptions

body.guides_reference,body.guides_getting-started {
  
  @include at-breakpoint($break) {
    
    .side_content {
      @include span-columns(3);
    }
  
    .main_content {
      @include span-columns(7 omega);
      @include push (0);
    }
  }
}
