//-----------------------------------------------------------------------------
// Grid Settings

$total-columns: 4;
$column-width: 5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$break: 40em 10 lt-ie9;

// 

.page {
  @include container;

  :target & { 
    @include susy-grid-background(); 
    .off a { display: block; }
    .on a { display: none; }
  }
  
  @include at-breakpoint($break) {
    @include container;
    :target & { @include susy-grid-background(); }
  }
}

[role="main"] {
  @extend .type;
  @include at-breakpoint($break) {
    @include pad(1,1);
  }
}

[role="contentinfo"] {
  clear: both;
}

//Exceptions

.guides_reference, .guides_getting-started, .tutorial { 
  .secondary { display: none; }

  @include at-breakpoint($break) {
    
    .secondary {
      @include span-columns(3);
      display: block;
    }
  
    [role="main"] {
      @include span-columns(7 omega);
      @include pad(0,0);
    }
  }
}
