@import "partials/_base.scss";
@import "partials/_colors.scss";

body {
  font-family: $font-family;
  color: $font-color; 
}

//Layout

header.lead {
  background-color: $susy-pink;
  text-align: center;
  
  a.home {
    display: block;
  }
}

#main {
  @include container;
}

//Shared