@import "partials/_base.scss";
@import "partials/_colors.scss";

body {
  font-family: $font-family;
  color: $font-color; 
}

//Layout

header.lead {
  background-color: $susy-pink;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  
  a.home {
    display: block;
    text-decoration: none;  
  }
  
  .logo {
    font-size: 4em;
  }
}

#main {
  @include container;
}