@import "partials/_base.scss";
@import "partials/_colors.scss";

body {
  font-family: $font-family;
  color: $font-color; 
}

//Layout

header.lead {
  background-color: $susy-pink;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  
  a.home {
    display: block;
    text-decoration: none;  
  }
  
  .logo {
    font-size: 10em;
  }
  
  h1 {
    @extend .logo;
    font-size: 2em;
    font-weight: normal; 
    position: absolute;
    top: -99999px;
  }
  
  h2 {
    @extend .logo;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic; 
  }
}

#main {
  @include container;
}