@charset "UTF-8";
/*-----------------------------------------------------------------------------
  General */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */
@font-face {
  font-family: "CenturyOldStyleFS";
  src: url('../fonts/CenturyOldStyle-Regular-webfont.eot');
  src: url('../fonts/CenturyOldStyle-Regular-webfont.eot?#iefix') format('eot'), url('../fonts/CenturyOldStyle-Regular-webfont.woff') format('woff'), url('../fonts/CenturyOldStyle-Regular-webfont.ttf') format('truetype'), url('../fonts/CenturyOldStyle-Regular-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CenturyOldStyleFS";
  src: url('../fonts/CenturyOldStyle-Bold-webfont.eot');
  src: url('../fonts/CenturyOldStyle-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/CenturyOldStyle-Bold-webfont.woff') format('woff'), url('../fonts/CenturyOldStyle-Bold-webfont.ttf') format('truetype'), url('../fonts/CenturyOldStyle-Bold-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CenturyOldStyleFS";
  src: url('../fonts/CenturyOldStyle-Italic-webfont.eot');
  src: url('../fonts/CenturyOldStyle-Italic-webfont.eot?#iefix') format('eot'), url('../fonts/CenturyOldStyle-Italic-webfont.woff') format('woff'), url('../fonts/CenturyOldStyle-Italic-webfont.ttf') format('truetype'), url('../fonts/CenturyOldStyle-Italic-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CenturyOldStyleFSCaps";
  src: url('../fonts/CenturyOldStyleCaps-Regular-webfont.eot');
  src: url('../fonts/CenturyOldStyleCaps-Regular-webfont.eot?#iefix') format('eot'), url('../fonts/CenturyOldStyleCaps-Regular-webfont.woff') format('woff'), url('../fonts/CenturyOldStyleCaps-Regular-webfont.ttf') format('truetype'), url('../fonts/CenturyOldStyleCaps-Regular-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BaskervilleAmp";
  src: url('../fonts/Baskerville-amp-webfont.eot');
  src: url('../fonts/Baskerville-amp-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-amp-webfont.woff') format('woff'), url('../fonts/Baskerville-amp-webfont.ttf') format('truetype'), url('../fonts/Baskerville-amp-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

html {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  color: #657b83;
  background: #fdf6e3;
  font-family: "CenturyOldStyleFS", "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
}

a:link, a:visited {
  text-decoration: none;
}

b, i {
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.amp {
  font-family: "BaskervilleAmp", "CenturyOldStyleFS", "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
}

.caps {
  font-family: "CenturyOldStyleFSCaps", "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
}

.type a:link, article a:link, .type a:visited, article a:visited {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  color: #6c71c4;
}
.type a:hover, article a:hover, .type a:focus, article a:focus, .type a:active, article a:active {
  color: #dc322f;
}
.type p, article p {
  margin-bottom: 1.5em;
}
.type ul, article ul {
  list-style-type: disc;
}
.type h2, article h2 {
  font-family: "CenturyOldStyleFSCaps", "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  text-transform: lowercase;
  letter-spacing: .1em;
  color: #586e75;
}
.type code, article code {
  font-size: 0.75em;
  line-height: 2em;
  display: block;
}
.type code b, article code b {
  font-weight: bold;
}
.type code i, article code i {
  font-style: italic;
}

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.otf') format('opentype'), url('../fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* sprites.less reset */
.icon, nav a:link, nav a:visited, .who a:link, .who a:visited, .lt-ie9 .who a:link, .lt-ie9 .who a:visited,
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
.icon:before, nav a:link:before, nav a:visited:before, .who a:link:before, .who a:visited:before, .lt-ie9 .who a:link:before, .lt-ie9 .who a:visited:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .4em;
}

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}

.icon-music:before {
  content: "\f001";
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope:before {
  content: "\f003";
}

.icon-heart:before {
  content: "\f004";
}

.icon-star:before {
  content: "\f005";
}

.icon-star-empty:before {
  content: "\f006";
}

.icon-user:before {
  content: "\f007";
}

.icon-film:before {
  content: "\f008";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-ok:before {
  content: "\f00c";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-zoom-in:before {
  content: "\f00e";
}

.icon-zoom-out:before {
  content: "\f010";
}

.icon-off:before {
  content: "\f011";
}

.icon-signal:before {
  content: "\f012";
}

.icon-cog:before {
  content: "\f013";
}

.icon-trash:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-file:before {
  content: "\f016";
}

.icon-time:before {
  content: "\f017";
}

.icon-road:before {
  content: "\f018";
}

.icon-download-alt:before, nav a[href*='zipball']:link:before, nav a[href*='zipball']:visited:before {
  content: "\f019";
}

.icon-download:before {
  content: "\f01a";
}

.icon-upload:before {
  content: "\f01b";
}

.icon-inbox:before {
  content: "\f01c";
}

.icon-play-circle:before {
  content: "\f01d";
}

.icon-repeat:before {
  content: "\f01e";
}

/* \f020 is not a valid unicode character. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}

.icon-list-alt:before {
  content: "\f022";
}

.icon-lock:before {
  content: "\f023";
}

.icon-flag:before {
  content: "\f024";
}

.icon-headphones:before {
  content: "\f025";
}

.icon-volume-off:before {
  content: "\f026";
}

.icon-volume-down:before {
  content: "\f027";
}

.icon-volume-up:before {
  content: "\f028";
}

.icon-qrcode:before {
  content: "\f029";
}

.icon-barcode:before {
  content: "\f02a";
}

.icon-tag:before {
  content: "\f02b";
}

.icon-tags:before {
  content: "\f02c";
}

.icon-book:before {
  content: "\f02d";
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-print:before {
  content: "\f02f";
}

.icon-camera:before {
  content: "\f030";
}

.icon-font:before {
  content: "\f031";
}

.icon-bold:before {
  content: "\f032";
}

.icon-italic:before {
  content: "\f033";
}

.icon-text-height:before {
  content: "\f034";
}

.icon-text-width:before {
  content: "\f035";
}

.icon-align-left:before {
  content: "\f036";
}

.icon-align-center:before {
  content: "\f037";
}

.icon-align-right:before {
  content: "\f038";
}

.icon-align-justify:before {
  content: "\f039";
}

.icon-list:before {
  content: "\f03a";
}

.icon-indent-left:before {
  content: "\f03b";
}

.icon-indent-right:before {
  content: "\f03c";
}

.icon-facetime-video:before {
  content: "\f03d";
}

.icon-picture:before {
  content: "\f03e";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-adjust:before {
  content: "\f042";
}

.icon-tint:before {
  content: "\f043";
}

.icon-edit:before {
  content: "\f044";
}

.icon-share:before {
  content: "\f045";
}

.icon-check:before {
  content: "\f046";
}

.icon-move:before {
  content: "\f047";
}

.icon-step-backward:before {
  content: "\f048";
}

.icon-fast-backward:before {
  content: "\f049";
}

.icon-backward:before {
  content: "\f04a";
}

.icon-play:before {
  content: "\f04b";
}

.icon-pause:before {
  content: "\f04c";
}

.icon-stop:before {
  content: "\f04d";
}

.icon-forward:before {
  content: "\f04e";
}

.icon-fast-forward:before {
  content: "\f050";
}

.icon-step-forward:before {
  content: "\f051";
}

.icon-eject:before {
  content: "\f052";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-plus-sign:before {
  content: "\f055";
}

.icon-minus-sign:before {
  content: "\f056";
}

.icon-remove-sign:before {
  content: "\f057";
}

.icon-ok-sign:before {
  content: "\f058";
}

.icon-question-sign:before {
  content: "\f059";
}

.icon-info-sign:before {
  content: "\f05a";
}

.icon-screenshot:before {
  content: "\f05b";
}

.icon-remove-circle:before {
  content: "\f05c";
}

.icon-ok-circle:before {
  content: "\f05d";
}

.icon-ban-circle:before {
  content: "\f05e";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-arrow-down:before {
  content: "\f063";
}

.icon-share-alt:before {
  content: "\f064";
}

.icon-resize-full:before {
  content: "\f065";
}

.icon-resize-small:before {
  content: "\f066";
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-asterisk:before {
  content: "\f069";
}

.icon-exclamation-sign:before {
  content: "\f06a";
}

.icon-gift:before {
  content: "\f06b";
}

.icon-leaf:before {
  content: "\f06c";
}

.icon-fire:before {
  content: "\f06d";
}

.icon-eye-open:before {
  content: "\f06e";
}

.icon-eye-close:before {
  content: "\f070";
}

.icon-warning-sign:before {
  content: "\f071";
}

.icon-plane:before {
  content: "\f072";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-random:before {
  content: "\f074";
}

.icon-comment:before {
  content: "\f075";
}

.icon-magnet:before {
  content: "\f076";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-retweet:before {
  content: "\f079";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-folder-close:before {
  content: "\f07b";
}

.icon-folder-open:before {
  content: "\f07c";
}

.icon-resize-vertical:before {
  content: "\f07d";
}

.icon-resize-horizontal:before {
  content: "\f07e";
}

.icon-bar-chart:before {
  content: "\f080";
}

.icon-twitter-sign:before, nav a[href*='twitter']:link:before, nav a[href*='twitter']:visited:before {
  content: "\f081";
}

.icon-facebook-sign:before {
  content: "\f082";
}

.icon-camera-retro:before {
  content: "\f083";
}

.icon-key:before {
  content: "\f084";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-comments:before {
  content: "\f086";
}

.icon-thumbs-up:before {
  content: "\f087";
}

.icon-thumbs-down:before {
  content: "\f088";
}

.icon-star-half:before {
  content: "\f089";
}

.icon-heart-empty:before {
  content: "\f08a";
}

.icon-signout:before {
  content: "\f08b";
}

.icon-linkedin-sign:before {
  content: "\f08c";
}

.icon-pushpin:before {
  content: "\f08d";
}

.icon-external-link:before, .who a:link:before, .who a:visited:before, .lt-ie9 .who a:link:before, .lt-ie9 .who a:visited:before {
  content: "\f08e";
}

.icon-signin:before {
  content: "\f090";
}

.icon-trophy:before {
  content: "\f091";
}

.icon-github-sign:before, nav a[title='source']:link:before, nav a[title='source']:visited:before {
  content: "\f092";
}

.icon-upload-alt:before {
  content: "\f093";
}

.icon-lemon:before {
  content: "\f094";
}

/*-----------------------------------------------------------------------------
  Layout */
.container, header, nav, article, footer {
  *zoom: 1;
  max-width: 29em;
  _width: 29em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
.container:after, header:after, nav:after, article:after, footer:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 35em) {
  .container, header, nav, article, footer {
    *zoom: 1;
    max-width: 39em;
    _width: 39em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
  }
  .container:after, header:after, nav:after, article:after, footer:after {
    content: "";
    display: table;
    clear: both;
  }
}
.lt-ie9 .container, .lt-ie9 header, .lt-ie9 nav, .lt-ie9 article, .lt-ie9 footer {
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
.lt-ie9 .container:after, .lt-ie9 header:after, .lt-ie9 nav:after, .lt-ie9 article:after, .lt-ie9 footer:after {
  content: "";
  display: table;
  clear: both;
}

/*-----------------------------------------------------------------------------
  Modules */
header {
  border-top-style: solid;
  border-top-width: 0.188em;
  padding-top: 0.563em;
  margin-bottom: 0.75em;
  text-align: center;
  border-color: #dc322f;
}
header h2 {
  font-family: "CenturyOldStyleFSCaps", "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #dc322f;
}
@media (min-width: 35em) {
  header {
    border-top-style: solid;
    border-top-width: 0.188em;
    padding-top: 2.063em;
    margin-bottom: 2.25em;
  }
}
.lt-ie9 header {
  border-top-style: solid;
  border-top-width: 0.188em;
  padding-top: 2.063em;
  margin-bottom: 2.25em;
}

h1 a {
  font-size: 4.5em;
  line-height: 1em;
  -webkit-transition: text-shadow 300ms;
  -moz-transition: text-shadow 300ms;
  -ms-transition: text-shadow 300ms;
  -o-transition: text-shadow 300ms;
  transition: text-shadow 300ms;
  display: block;
  color: #dc322f;
}
h1 a b, h1 a i {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: -0.435em;
}
h1 a i {
  opacity: 0;
}
h1 a:hover, h1 a:focus, h1 a:active {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0, rgba(255, 255, 255, 0.5) 0 0 0.5em;
}
h1 a:hover b, h1 a:hover i, h1 a:focus b, h1 a:focus i, h1 a:active b, h1 a:active i {
  letter-spacing: 0;
}
h1 a:hover i, h1 a:focus i, h1 a:active i {
  opacity: 1;
}
h1 a::before, h1 a::after {
  font-size: 0.667em;
  line-height: 1.5em;
  position: relative;
  top: -0.25em;
  letter-spacing: -0.025em;
}
h1 a::before {
  content: '‹';
}
h1 a::after {
  content: '›';
}

nav {
  margin-bottom: 0.75em;
  background: rgba(238, 232, 213, 0.5);
  font-style: italic;
}
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
nav ul li {
  *display: inline;
}
nav a:link, nav a:visited {
  display: block;
  padding: 0.375em 0.75em;
  color: #93a1a1;
}
nav a:hover, nav a:focus, nav a:active {
  color: #dc322f;
}
nav a::before {
  font-size: 1.5em;
  line-height: 1em;
  vertical-align: middle;
}

section {
  margin-bottom: 1.5em;
}

.intro {
  font-size: 1.375em;
  line-height: 1.636em;
  margin-bottom: 0.545em;
}
.intro h2 {
  display: none;
}
.intro p {
  margin-bottom: 1.091em;
}
.intro p:last-child {
  font-style: italic;
}

.why h2 {
  margin-bottom: 0.375em;
  border-top-style: solid;
  border-top-width: 0.125em;
  padding-top: 0.25em;
  border-color: #eee8d5;
  text-transform: uppercase;
}

.reqs {
  margin-bottom: 0em;
  font-style: italic;
  text-transform: lowercase;
}

@media (min-width: 35em) {
  .who ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2.564%;
    -moz-column-gap: 2.564%;
    -ms-column-gap: 2.564%;
    column-gap: 2.564%;
    list-style: none;
  }
  .who a:link, .who a:visited {
    display: inline-block;
  }
  .who a:link::before, .who a:visited::before {
    color: rgba(147, 161, 161, 0.5);
  }
  .who a:hover::before, .who a:focus::before, .who a:active::before {
    color: #93a1a1;
  }
}
.lt-ie9 .who ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2.564%;
  -moz-column-gap: 2.564%;
  -ms-column-gap: 2.564%;
  column-gap: 2.564%;
  list-style: none;
}
.lt-ie9 .who a:link, .lt-ie9 .who a:visited {
  display: inline-block;
}
.lt-ie9 .who a:link::before, .lt-ie9 .who a:visited::before {
  color: rgba(147, 161, 161, 0.5);
}
.lt-ie9 .who a:hover::before, .lt-ie9 .who a:focus::before, .lt-ie9 .who a:active::before {
  color: #93a1a1;
}

.where {
  *zoom: 1;
  -webkit-box-shadow: #93a1a1 0 0 0.25em inset;
  -moz-box-shadow: #93a1a1 0 0 0.25em inset;
  box-shadow: #93a1a1 0 0 0.25em inset;
  margin: 0 -1em 1.5em;
  padding: 1.5em 1em;
  background: rgba(238, 232, 213, 0.5);
}
.where:after {
  content: "";
  display: table;
  clear: both;
}
.where h2 a:link, .where h2 a:visited {
  color: #dc322f;
}
.where h2 a:hover::after, .where h2 a:focus::after, .where h2 a:active::after {
  content: "»";
}
.where h2 a i {
  color: #93a1a1;
}
.where ul {
  list-style-type: none;
  display: block;
  color: #93a1a1;
  text-transform: lowercase;
}
.where ul, .where ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.where ul li:after {
  content: ", ";
}
.where ul li:last-child:after {
  content: "";
}
.where ul li.last:after {
  content: "";
}
.where section:last-child {
  margin-bottom: 0em;
}
@media (min-width: 35em) {
  .where section {
    width: 48.718%;
    float: left;
    margin-right: 2.564%;
    display: inline;
    margin-bottom: 0em;
  }
  .where section:last-child {
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
.lt-ie9 .where section {
  width: 48.718%;
  float: left;
  margin-right: 2.564%;
  display: inline;
  margin-bottom: 0em;
}
.lt-ie9 .where section:last-child {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
.where + .why h2 {
  border: 0;
  padding-top: 0;
}

footer {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-shadow: #aaaaaa 0px 0px 1px;
  color: #93a1a1;
  background: #dc322f;
  font-family: "CenturyOldStyleFSCaps", "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  font-variant: small-caps;
  letter-spacing: .1em;
  text-transform: lowercase;
}
footer a:link, footer a:visited {
  color: #fdf6e3;
}
footer a:hover, footer a:focus, footer a:active {
  text-decoration: underline;
}
footer p {
  font-size: 0.875em;
  line-height: 1.714em;
  margin-bottom: 0em;
}

/*-----------------------------------------------------------------------------
  Overrides */
