// Test Helpers
// ============

$output-test-context: true;
$output-test-results: true;

$output-test-slug: null;
$output-assert-slug: null;

$supported-browsers: firefox chrome;

// Test Output Module
// ------------------

@mixin output-test-module($name) {
/*

### #{$name} ------ */
  @include test-module($name, false) {
    @content;
  }
}

// Output Test Setup/Teardown
// --------------------------

@mixin assert-setup(
  $slug: $output-test-slug,
  $grid: false,
  $output: $output-test-context
) {
  $output-assert-slug: $slug !global;

  @if $grid {
    @include set-grid($grid);
    @if $output {
      .test__#{$output-test-slug} .assert__#{$output-assert-slug} {
        @include container;
      }
    }
  } @else if $output {
    .test__#{$output-test-slug} .assert__#{$output-assert-slug} {
      @include clearfix;
      background: rgba(#ccf, .5);
    }
  }

  @if $output {
    .test__#{$output-test-slug} .assert__#{$output-assert-slug} {
      @content;
    }
  }
}

@mixin assert-teardown(
) {
  $output-assert-slug: null !global;
  @include original-grid;
}

// Output Test
// -----------

@mixin output-test(
  $slug
) {
  $output-test-slug: $slug !global;

  /* - [mixin] #{$output-test-slug} */
  @content;

  $output-test-slug: null !global;
}

// Assert Output
// -------------

@mixin assert-output(
  $message: null,
  $output-test-results: $output-test-results,
  $output-test-context: $output-test-context
) {
  @if $output-test-results {
    /* "#{$message}" */
  }

  .test__#{$output-test-slug} .assert__#{$output-assert-slug} {
    @if $output-test-context and $message {
      &::before {
        content: $message;
        display: block;
        padding: rhythm(.25) rhythm(.5);
        text-align: left;
        font-style: italic;
      }
    }
    @if $output-test-results {
      @content;
    }
  }

  @include assert-teardown;
}
