// Nth- Tests
// ==========

@include test-module('Nth- Helpers') {

  // Format Nth
  // ----------

  @include test('[function] format-nth') {
    // last child
    $select: format-nth(last);
    $expect: 'last-child';
    @include assert-equal($select, $expect,
      'Returns properly-formatted keyword selectors.');

    // nth last-child
    $select: format-nth('3n + 5', last-child);
    $expect: 'nth-last-child(3n + 5)';
    @include assert-equal($select, $expect,
      'Returns properly-formatted nth selectors.');
  }
}

