//-----------------------------------------------------------------------------
// Intro

.serif-type {
  @include adjust-font-size-to($medpx);
  h2 { @include adjust-font-size-to($largepx,1.5,$medpx); }
  p { @include trailer(1,$medpx); }
  strong { font-weight: bold; }
  em { font-style: italic; }
}

.intro {
  @extend .serif-type;
  @include trailer(1,$medpx);
  p {
    &:first-child { color: $susy-bodycopy-dark-20; }
    &:last-child { font-style: italic; }
  }
  @include at-breakpoint($break) {
    @include span-columns(5);
  }
}

.info {
  @include trailer;
  @include rhythm-borders(1px,1);
  border-color: $susy-background-dark-20;
  background: $susy-background-dark-10;
  > div {
    @include clearfix;
    @include trailer;
  }
  @include at-breakpoint($break) {
    @include span-columns(4 omega);
  }
  h2 {
    @extend .caps;
    @include trailer(1,$largepx);
    letter-spacing: .1em;
    a {
      @extend .icon;
      @include font-icon-image($icon-pushpin);
      font-weight: bold;
      &::before { margin-right: $xxxsmallpx; }
    }
  }
  .highlight { @include trailer(.5); }
  pre {
    @include adjust-font-size-to($normpx);
    font-weight: bold;
  }
}

.v1-0 {
  h2 {
    @include adjust-font-size-to($medpx);
  }
}

.andmore {
  @extend .serif-type;
  p:last-child { font-style: italic; }
  @include at-breakpoint(50em 10) {
    @include span-columns(5 omega,10);
  }
}
