//-----------------------------------------------------------------------------
// Intro

.serif-type {
  @include adjust-font-size-to($medpx);
  h2 { @include adjust-font-size-to($largepx,1.5,$medpx); }
  p { @include trailer(1,$medpx); }
  strong { font-weight: bold; }
  em { font-style: italic; }
}

.intro {
  @extend .serif-type;
  @include trailer(1,$medpx);
  p { 
    &:first-child { color: $susy-bodycopy-dark-20; }
    &:last-child { font-style: italic; }
  }
  @include at-breakpoint($break) {
    @include span-columns(5);
  }
}

.info {
  @include trailer;
  @include rhythm-borders(1px,1);
  border-color: $susy-background-dark-20;
  background: $susy-background-dark-10;
  > div { 
    @include clearfix;
    @include trailer; 
  }
  @include at-breakpoint($break) {
    @include span-columns(4 omega);
  }
  h2 {
    @extend .caps;
    letter-spacing: .1em;
    a { 
      @extend .icon;
      @include font-icon-image($icon-pushpin);
      font-weight: bold;
      &::before { margin-right: $xxxsmallpx; }
    }
  }
  ul { 
    list-style: circle;
    padding-left: rhythm(1);
  }
  i {
    @include opacity(.75);
    color: $susy-bodycopy;
    font-weight: normal;
  }
}

.v1-0 {
  h2 {
    @include adjust-font-size-to($medpx);
  }
}

.why {
  @extend .serif-type;
  @include h-borders(3px,1,$medpx);
  @include trailer(1,$medpx);
  clear: both;
  border-color: $susy-highlight;
  a {
    #{$link} { 
      font-family: $caps-stack;
      text-transform: uppercase; 
    }
  }
  @include at-breakpoint($break) {
    @include trailer(2,$medpx);
    @include h-borders(3px,1.5,$medpx);
    @include pad(2,2);
    position: relative;
    @include font-icon($icon-question-sign) {
      @include adjust-font-size-to($xxxlargepx);
      position: absolute;
      left: 0;
      top: rhythm(-.5,$xxxlargepx);
      color: $susy-background-dark-5;
      z-index: -1;
    }
  }
}

.andmore {
  @extend .serif-type;
  p:last-child { font-style: italic; }
  @include at-breakpoint(50em 10) { 
    @include span-columns(5 omega,10); 
  }
}
