// Shared Container API Tests
// ==========================

@include output-test-module('Shared Container API') {

  // Container Output
  // ----------------

  @include output-test('container-output') {

    // fluid
    @include assert-setup('fluid');
    @include assert-output(
      'Containers should have 60em max-width, centered.'
    ) {
      .test { @include container-output(60em, center, fluid); }
      .expect {
        max-width: 60em;
        margin-left: auto;
        margin-right: auto;
      }
    }

    // static
    @include assert-setup('static');
    @include assert-output(
      'Containers should have 30em width, flush right.'
    ) {
      .test { @include container-output(30em, right, static); }
      .expect {
        width: 30em;
        margin-left: auto;
        margin-right: 0;
      }
    }

    // auto width
    @include assert-setup('auto');
    @include assert-output(
      'Containers should have 100% width.'
    ) {
      .test { @include container-output(null); }
      .expect {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
