/*

### Shared Grid Background API ------ */

/* - [mixin] grid-background-output (ltr)

EXPECT:
.ltr-grid-background-output {
  background: linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(to right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-size: 100% 24px;
  background-position: left top;
}

*/
.ltr-grid-background-output {
  $stops: red 30%, rgba(blue,.5) 50%;
  @include grid-background-output($stops, ltr);
}

/* - [mixin] grid-background-ouput (rtl)

EXPECT:
.rtl-grid-background-output {
  background: linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(to left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-size: 100% 24px;
  background-position: left top;
}
*/

.rtl-grid-background-output {
  $stops: red 30%, rgba(blue,.5) 50%;
  @include grid-background-output($stops, rtl);
}
