// Functional AG Tests
// ===================

@import '../../sass/susy';


// Colors
// ------

$colors: (
  'blue': #7fdfff,
  'yellow': #ffb27f,
  'red': #ff7f7f,
  'pink': #ff7fbf,

  'brand': #ff0080,

  'text': #4c4c4c,
  'background': #fff,
  'border': 'text',
  'action': #0099cc,
  'focus': 'brand',
);

@function color($key) {
  @if map-has-key($colors, $key) {
    $key: map-get($colors, $key);
    @return color($key);
  }

  @return $key;
}


// Base
// ----

@mixin clearfix {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

html {
  background: color('background');
  color: color('text');
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
               'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New',
               monospace, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

[role='banner'] {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1rem;
  line-height: inherit;
}


// Shared Styles
// -------------

.container {
  margin: 3rem auto;
  max-width: 90%;
}

.ag-title {
  background: color('text');
  color: color('background');
  padding: 0 1.5rem;
}

.grid-element {
  padding: .75rem;

  &.size1of5 {
    background: color('blue');
  }

  &.size1of2 {
    background: color('red');
  }

  &.size1of3 {
    background: color('yellow');
  }

  &.full {
    background: color('pink');
  }
}



// Symmetrical Flexbox
// -------------------

$susy: (
  'columns': 10,
  'container-spread': 'wide',
);

.symmetrical {
  .ag {
    align-items: stretch;
    display: flex;
    padding: 0 susy-gutter($config: ('container-spread': 'wider'))/2;
  }

  .grid-element {
    margin: 0 susy-gutter()/2;
  }

  .size1of5 {
    order: 1;
    width: susy-span(2);

    + .size1of5 {
      order: 3;
    }
  }

  .size3of5 {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    order: 2;

    .size1of2 {
      margin: 0 susy-gutter(6)/2;
      width: susy-span(3 of 6);
    }

    > .full {
      align-items: stretch;
      display: flex;
      flex: 1 0 auto;
    }
  }

  .size1of3 {
    margin: 0 susy-gutter(6)/2;
    width: susy-span(2 of 6);
  }

  .size2of3 {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;

    .grid-element {
      margin: 0 susy-gutter(4)/2;
    }

    .size1of2 {
      width: susy-span(2 of 4);
    }

    .full {
      flex: 1 0 auto;
    }
  }
}


// Asymmetrical Float
// ------------------

$susy: (
  'columns': (1 2 1 1 3 1 3 2 1 4),
  'gutters': 0.5,
);

.asymmetrical {
  .ag {
    @include clearfix;
  }

  .grid-element {
    float: left;
    margin-left: susy-gutter();

    &:first-child,
    &.full {
      margin-left: 0 !important;
    }
  }

  .full {
    @include clearfix;
    width: 100%;
  }

  .size1of5 {
    width: susy-span('first' 2);
    padding-bottom: 6.75rem;

    + .size1of5 {
      float: right;
      width: susy-span(last 2);
    }
  }

  .size3of5 {
    float: left;
    margin-left: susy-gutter();
    width: susy-span(6 at 3);

    .size1of2:first-child {
      width: susy-span('first' 3 of susy-nested(6 at 3));

      + .size1of2 {
        margin-left: susy-gutter(susy-nested(6 at 3));
        width: susy-span('last' 3 of susy-nested(6 at 3));
      }
    }
  }

  .size1of3 {
    width: susy-span('first' 2 of susy-nested(6 at 3));
    padding-bottom: 3.75rem;
  }

  .size2of3 {
    float: right;
    width: susy-span('last' 4 of susy-nested(6 at 3));

    .grid-element {
      margin-left: susy-gutter(susy-nested(4 at 5));
    }

    .size1of2 {
      &:first-child {
        width: susy-span('first' 2 of susy-nested(4 at 5));
      }

      + .size1of2 {
        float: right;
        width: susy-span('last' 2 of susy-nested(4 at 5));
      }
    }
  }
}

