//-----------------------------
// Imports

@import "susy";

//-----------------------------
// Settings

// $output: 'isolation';

//-----------------------------
// Grids

$grids: add-grid(3);
$grids: add-grid(1 3 at 550px);
$grids: add-grid(1 2 3 4 5 at 723px);
$grids: add-grid(1 2 3 1 2 3 1 2 3 1 2 3 at 960px);

//-----------------------------
// Gutters

$gutters: add-gutter(.25);
$gutters: add-gutter(.3 at 300px);
$gutters: add-gutter(.4 at 500px);
$gutters: add-gutter(.25 at 900px);

//-----------------------------
// Debug

// @debug $grids;
// @debug $gutters;

//-----------------------------
// Syntax
//
// These two mixins should provide identical output.

.span {
  @include span(1 at last of 1 3 3 gutters .25 output isolation);
}

.grid-span {
  @include grid-span(1, 'last', (1 3 3), .25, $output-style: 'isolation');
}

//-----------------------------
// Demo

body {
  margin: 0;
  padding: 0;
  @include background-grid;
}

.foo {
  @extend %clearfix;
  background: rgba(red, .5);
  @include breakpoint(1000px) {
    @include grid-span(5, 1);
  }
}

.bar {
  @extend %clearfix;
  background: rgba(green, .5);
  @include breakpoint(1000px) {
    @include grid-span(6, 'omega');
  }
}

.baz {
  @extend %clearfix;
  background: rgba(blue, .5);
  @include breakpoint(1000px) {
    @include grid-span(9, 1);
    @include push(1, 1);
  }
}

.qux {
  @extend %clearfix;
  background: rgba(yellow, .5);
  @include breakpoint(1000px) {
    @include grid-span(3, 1, 9);
    @include push(2, 1, (2 3 1 2 3 1 2 3 1));
  }
}

//-----------------------------
// so you can see it happen

div {
  min-height: 3em;
  background: rgba(black,.1);
  text-transform: uppercase;
  text-align: center;
}

