// Math tests
// ==========

@import "susy";

// Settings
// --------

$debug: false;

// Symmetrical math
// ----------------

$columns: 9;
$gutters: .25;
$column-width: 4em;

@if $debug {
  @debug column-count() if(column-count() == 9, true, false);
  @debug column-sum() if(column-sum() == 11, true, false);
  @debug relative-column-span(5) if(round(relative-column-span(5)) == 55%, true, false);
  @debug static-column-span(5) if(static-column-span(5) == 24em, true, false);
  @debug static-gutter-span() if(static-gutter-span() == 1em, true, false);
  @debug calculate-container-width() if(calculate-container-width() == 44em, true, false);
}

.span {
  @include span(5);
}

.span-static {
  @include float-span(5, $static: true);
}

.span-omega {
  @include float-span(2,last);
}

.isolate {
  @include float-span(5, 2, $isolate: true);
}

.isolate-override {
  @include isolate(2);
}

.margin-arbitrary {
  @include margin-before(12em);
}

.margin-relative {
  @include margin-after(5);
}

.margin-static {
  @include margin-output(5, $static: true);
}

// Asymmetrical math
// -----------------

$columns: 2 3 1 2 1;
$gutters: .5;
$column-width: 4em;

@if $debug {
  @debug column-count() if(column-count() == 5, true, false);
  @debug column-sum() if(column-sum() == 11, true, false);
  @debug relative-column-span(2,1) if(relative-column-span(2,1) == 50%, true, false);
  @debug static-column-span(2,1) if(static-column-span(2,1) == 22em, true, false);
  @debug static-gutter-span() if(static-gutter-span() == 2em, true, false);
  @debug calculate-container-width() if(calculate-container-width() == 44em, true, false);
}

.span {
  @include float-span(2,1);
}

.span-static {
  @include float-span(2,1, $static: true);
}

.span-omega {
  @include float-span(3,omega);
}

.isolate {
  @include float-span(3, 2, $isolate: true);
}

.isolate-override {
  @include isolate(2);
}

.margin-relative {
  @include margin-after(2,1);
}

.margin-static {
  @include margin-output(2,1, $static: true);
}
