// Test Layout
// ===========

@import "susy";
@import "true";
@import "test/helpers";
@import "test/layout";

// Test
// ----

$output-test-context: true;
$output-test-results: false;

@import "tests";

.results{
  @if map-get($true-results, fail) < 1 {
    background: rgba(green, .25);
    border-color: green;
  }

  &:after {
    content: report();
  }
}
