// Test Layout
// ===========

@import "compass";
@import "susy";
@import "true";

// Testing
// -------

@import "test/settings";
@import "test/helpers";
@import "test/layout";

// Output
// ------

$output-test-context: true;
$output-test-results: false;

// Math
// ----

@import "math/columns";
@import "math/container";
@import "math/location";

// Helpers
// -------

@import "helpers/direction";
@import "helpers/nth";
@import "helpers/sass-lists";

// Language
// --------

@import "language/shared";
@import "language/susy";

// API
// ---

@import "api/shared";
@import "api/float";

// Report
// ------

.results{
  @include report;

  @if nth($total-test-results, 3) < 1 {
    background: rgba(green, .25);
    border-color: green;
  }

  &::after {
    content: report();
  }
}
