// Test Layout
// ===========

@import "susy";
@import "true";
@import "test/helpers";
@import "test/layout";

// Output
// ------

$default-module-output: false;
$default-test-output: false;
$default-final-output: false;

$output-test-context: true;
$output-test-results: false;

// Test
// ----

@import "language/susy";

@import "output/shared";
@import "output/float";

// Report
// ------

.results{
  @if map-get($true-results, fail) < 1 {
    background: rgba(green, .25);
    border-color: green;
  }

  &::after {
    content: report();
  }
}
