// // Susy 1.0 Translation Tests
// // ==========================

// @import "susy/language/susy1";
// @import "true";

// // Output
// // ------

// $default-module-output: css;

// $output-test-context: false;
// $output-test-results: true;

// // Language
// // --------

// @import "language/susy1";

// // Report
// // ------

// @include report;
