/* Susy Tests */
/* ========== */

@import "../../sass/susy";
@import "../../bower_components/true/sass/true";
@import "test/helpers";
@import "test/layout";

// test that susyone settings don't cause errors in susy
@import "../../sass/susy/language/susyone/settings";

@import "tests";

.results{
  @if _true-get-result(global) == pass {
    background: rgba(green, .25);
    border-color: green;
  }

  &:after {
    content: _true-report-message(global);
  }
}

@include report;
