:plain
  <div class="colophon">
    <p>
      Susy is based on Natalie Downe's
      <a href="http://www.slideshare.net/nataliedowne/css-systems-presentation">CSS Systems</a>,
      made possible by <a href="http://www.sass-lang.com/">Sass</a>,
      and made easy with <a href="http://www.compass-style.org/">Compass</a>.
      You can use it anywhere,
      from static sites to Django, Rails, Wordpress and more.
    </p>
    <p>
      This site was built with <span class="caps">HTML5</span> and
      <span class="caps">CSS3</span>
      using <a href="http://www.middlemanapp.com/">Middleman</a>,
      <a href="http://www.compass-style.org/">Compass</a>,
      <a href="http://www.sass-lang.com/">Sass</a>,
      <a href="/">Susy</a>,
      <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>,
      <a href="http://www.modernizr.com/">Modernizr</a>,
      <a href="https://github.com/scottkellum/modular-scale">Modular Scale</a>,
      <a href="http://ethanschoonover.com/solarized">Solarized</a> colors,
      <a href="http://pygments.org/">Pygments</a> syntax highlighting,
      <a href="http://keyamoon.com/icomoon/">IcoMoon</a> icons,
      and Franklin Gothic with Century OldStyle from
      <a href="http://www.fontspring.com/">Fontspring</a>.
    </p>
    <p>
      Susy was created by
      <a href="http://github.com/ericam">Eric A. Meyer</a>
      <span class="amp">&</span> <a href="http://oddbird.net">OddBird</a>,
      and is maintained with the help of
      <a href="http://www.dannyprose.com">Danny Palmer</a>,
      and a number of wonderful
      <a href="https://github.com/ericam/susy/graphs/contributors">contributors</a>.
      <a href="http://github.com/ericam/susy/">Get involved</a>!
    </p>
  </div>

  <p class="license">
    <a href="https://github.com/ericam/susy/blob/master/LICENSE.txt">
      Copyright &copy; 2012
    </a>
    <a href="http://eric.andmeyer.com/">Eric A. Meyer</a><br />
    An <a href="http://oddbird.net/">OddBird</a> project.
  </p>