:plain
  <p>This site was built with HTML5 and CSS3, using <a href="http://www.middlemanapp.com/">Middleman</a> by <a href="http://awardwinningfjords.com/">Thomas Reynolds</a>, <a href="http://www.compass-style.org/">Compass</a>, <a href="http://www.sass-lang.com/">Sass</a>, and <a href="http://www.modernizr.com/">Modernizr</a>.</p>