:plain
  <p>
    This site was built with HTML5 and CSS3 
    using <a href="http://www.middlemanapp.com/">Middleman</a>, 
    <a href="http://www.compass-style.org/">Compass</a>, 
    <a href="http://www.sass-lang.com/">Sass</a>,
    <a href="/">Susy</a>,
    <a href="#">HTML5 Boilerplate</a>,
    <a href="http://www.modernizr.com/">Modernizr</a>,
    <a href="#>Solarized</a> colors,
    <a href="#">Pygments</a> syntax highlighting,
    and <a href="#">Font Awesome</a> icons.
  </p>
  
  <p>
    <a href="https://github.com/ericam/susy/blob/master/LICENSE.txt">
      Copyright &copy; 2012
    </a>
    <a href="http://eric.andmeyer.com/">Eric A. Meyer</a><br />
    An <a href="http://oddbird.net/">OddBird</a> project.
  </p>
  