%ul
  %li 
    %a{ :href => "/getting-started/", :title => "Getting Started" } Getting Started
  %li 
    %a{ :href => "/tutorial/", :title => "Tutorial" } Tutorial
  %li 
    %a{ :href => "/reference/", :title => "Reference" } Reference
  -# Think about bringing Recipes in later, but not needed for now
  -# %li 
  -#   %a{ :href => "#", :title => "#" } Recipes
  %li 
    %a{ :href => "/susy-vs-blueprint/", :title => "Susy vs. Bluebrint" } Susy vs. Blueprint
  %li
    %a{ :href => "/sites-using-susy/", :title => "Sites Using Susy" } Sites Using Susy
  %li
    %a{ :href => "/about/", :title => "About" } About
  %li
    %a{ :href => "/contribute/", :title => "Contribute" } Contribute