%ul
  %li 
    %a{ :href => "/guides/getting-started/", :title => "Getting Started" } Getting Started
  %li 
    %a{ :href => "/guides/reference/", :title => "Reference" } Reference
  %li
    %a{ :href => "/guides/sites-using-susy/", :title => "Sites Using Susy" } Sites Using Susy
  %li
    %a{ :href => "/guides/about/", :title => "About" } About
  %li
    %a{ :href => "https://github.com/ericam/susy", :title => "Contribute" } Contribute