%ul
  %li
    %a{ :href => "/guides/getting-started/" } Getting Started
  %li
    %a{ :href => "/guides/reference/" } Reference
  %li
    %a{ :href => "/demos/" } Demos
  %li
    %a{ :href => "/sites-using-susy/" } Sites
  %li
    %a{ :href => "https://github.com/ericam/susy" } Source
  %li
    %a{ :href => "http://stackoverflow.com/questions/tagged/susy-compass"} Support
  %li
    %a{ :href => "http://twitter.com/compasssusy/" } Twitter
