// Shared Output
// =============

@include test-module('Shared Output') {
  @include output-test('output') {
    $map: (
      width: 3em,
      position: relative,
    );
    @include assert-setup('output');
    @include assert-output(
      'Property value pairs are passed in as maps and output as CSS.'
    ) {
      .test {
        @include output($map);
      }
      .expect {
        @each $prop, $val in $map {
          #{$prop}: $val;
        }
      }
    }
  }
}
