/*
Syntax error: Invalid parent selector for "&::before": "head"
        on line 96 of /Users/eric/Sites/susy/sass/susy/language/susy/_background.scss, in `overlay-head'
        from line 61 of /Users/eric/Sites/susy/sass/susy/language/susy/_background.scss, in `overlay-grid'
        from line 17 of /Users/eric/Sites/susy/sass/susy/language/susy/_background.scss, in `show-grid'
        from line 24 of /Users/eric/Sites/susy/sass/susy/language/susy/_container.scss, in `container'
        from line 15 of /Users/eric/Sites/susy/test/scss/ag.scss, in `ag-test'
        from line 72 of /Users/eric/Sites/susy/test/scss/ag.scss, in `@content'
        from line 24 of /Users/eric/Sites/susy/sass/susy/language/susy/_grids.scss, in `with-layout'
        from line 71 of /Users/eric/Sites/susy/test/scss/ag.scss

Backtrace:
/Users/eric/Sites/susy/sass/susy/language/susy/_background.scss:96:in `overlay-head'
/Users/eric/Sites/susy/sass/susy/language/susy/_background.scss:61:in `overlay-grid'
/Users/eric/Sites/susy/sass/susy/language/susy/_background.scss:17:in `show-grid'
/Users/eric/Sites/susy/sass/susy/language/susy/_container.scss:24:in `container'
/Users/eric/Sites/susy/test/scss/ag.scss:15:in `ag-test'
/Users/eric/Sites/susy/test/scss/ag.scss:72:in `@content'
/Users/eric/Sites/susy/sass/susy/language/susy/_grids.scss:24:in `with-layout'
/Users/eric/Sites/susy/test/scss/ag.scss:71
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/simple_sequence.rb:93:in `block in resolve_parent_refs'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/simple_sequence.rb:91:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/simple_sequence.rb:91:in `resolve_parent_refs'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/sequence.rb:69:in `block in resolve_parent_refs'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/sequence.rb:67:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/sequence.rb:67:in `resolve_parent_refs'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/comma_sequence.rb:41:in `block in resolve_parent_refs'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/comma_sequence.rb:40:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/selector/comma_sequence.rb:40:in `resolve_parent_refs'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:384:in `visit_rule'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (4 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (3 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (2 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:78:in `perform_arguments'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:330:in `block in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:409:in `visit_atroot'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:271:in `visit_if'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (4 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (3 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (2 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:78:in `perform_arguments'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:330:in `block in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:271:in `visit_if'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (4 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (3 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (2 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:78:in `perform_arguments'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:330:in `block in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (4 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (3 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (2 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:78:in `perform_arguments'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:330:in `block in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (4 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (3 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (2 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:78:in `perform_arguments'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:330:in `block in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:353:in `block (3 levels) in visit_content'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:353:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:353:in `block (2 levels) in visit_content'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:352:in `block in visit_content'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:348:in `visit_content'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (4 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (3 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:335:in `block (2 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:78:in `perform_arguments'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:330:in `block in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/tree/root_node.rb:20:in `render'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-575807f25cdd/lib/sass/engine.rb:274:in `render'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:153:in `timed'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:166:in `block in compile'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/logger.rb:46:in `red'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:165:in `compile'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:127:in `each'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:127:in `block in run'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:153:in `timed'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/compiler.rb:126:in `run'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/watcher/compiler.rb:24:in `compile'
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/watcher/project_watcher.rb:95:in `sass_modified'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/watcher/project_watcher.rb:83:in `sass_callback'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/watcher/watch.rb:14:in `call'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/watcher/watch.rb:14:in `run_callback'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/watcher/project_watcher.rb:63:in `block in listen_callback'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/watcher/project_watcher.rb:60:in `each'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/compass-a052dc8eb91b/cli/lib/compass/watcher/project_watcher.rb:60:in `listen_callback'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid parent selector for \"&::before\": \"head\"\A         on line 96 of /Users/eric/Sites/susy/sass/susy/language/susy/_background.scss, in `overlay-head'\A         from line 61 of /Users/eric/Sites/susy/sass/susy/language/susy/_background.scss, in `overlay-grid'\A         from line 17 of /Users/eric/Sites/susy/sass/susy/language/susy/_background.scss, in `show-grid'\A         from line 24 of /Users/eric/Sites/susy/sass/susy/language/susy/_container.scss, in `container'\A         from line 15 of /Users/eric/Sites/susy/test/scss/ag.scss, in `ag-test'\A         from line 72 of /Users/eric/Sites/susy/test/scss/ag.scss, in `@content'\A         from line 24 of /Users/eric/Sites/susy/sass/susy/language/susy/_grids.scss, in `with-layout'\A         from line 71 of /Users/eric/Sites/susy/test/scss/ag.scss"; }
