.pre {
  margin-left: 25.424%;
}

.post {
  margin-right: 33.898%;
}

.push {
  margin-left: 25.424%;
}

.pull {
  margin-left: -33.898%;
}

.squish {
  margin-left: 12.821%;
  margin-right: 25.641%;
}
