#foo:after, #bar:after, #baz:after {
  content: "";
  display: table;
  clear: both;
}

#foo {
  background: rgba(255, 0, 0, 0.5);
  height: 60px;
}
@media (min-width: 1000px) {
  #foo {
    width: 40.67797%;
    clear: right;
    float: left;
    margin-right: 0.42373%;
    margin-left: 8.47458%;
    margin-right: -100%;
  }
}

#bar {
  background: rgba(0, 128, 0, 0.5);
  height: 30px;
}
@media (min-width: 1000px) {
  #bar {
    width: 49.15254%;
    clear: right;
    float: right;
  }
}

#baz {
  background: rgba(0, 0, 255, 0.5);
  height: 30px;
}
@media (min-width: 1000px) {
  #baz {
    width: 74.57627%;
    clear: right;
    float: left;
    margin-right: 0.42373%;
    margin-left: 16.94915%;
  }
}
