.span {
  width: 54.54545%;
  float: left;
  margin-right: 2.27273%;
}

.span-static {
  width: 24em;
  float: left;
  margin-right: 1em;
}

.span-omega {
  width: 20.45455%;
  float: right;
}

.isolate {
  width: 54.54545%;
  float: left;
  margin-left: 11.36364%;
  margin-right: -100%;
}

.isolate-override {
  margin-left: 11.36364%;
  margin-right: -100%;
}

.margin-arbitrary {
  margin-left: 12em;
}

.margin-relative {
  margin-right: 56.81818%;
}

.margin-static {
  margin-left: 25em;
  margin-right: 25em;
}

.span {
  width: 50%;
  float: left;
  margin-right: 4.54545%;
}

.span-static {
  width: 22em;
  float: left;
  margin-right: 2em;
}

.span-omega {
  width: 45.45455%;
  float: right;
}

.isolate {
  width: 63.63636%;
  float: left;
  margin-left: 27.27273%;
  margin-right: -100%;
}

.isolate-override {
  margin-left: 27.27273%;
  margin-right: -100%;
}

.margin-relative {
  margin-right: 54.54545%;
}

.margin-static {
  margin-left: 24em;
  margin-right: 24em;
}
