/*
Shared Grid Background API Tests
================================ */
/*

TEST: [mixin] grid-background-output (ltr)

EXPECT:
.ltr-grid-background-output {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(30%, #ff0000), color-stop(50%, rgba(0, 0, 255, 0.5))), -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: -moz-linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: -o-linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(to right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 24px;
  -moz-background-size: 100% 24px;
  -o-background-size: 100% 24px;
  background-size: 100% 24px;
  background-position: left top;
}

*/
.ltr-grid-background-output {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(30%, #ff0000), color-stop(50%, rgba(0, 0, 255, 0.5))), -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: -moz-linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: -o-linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(to right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 24px;
  -moz-background-size: 100% 24px;
  -o-background-size: 100% 24px;
  background-size: 100% 24px;
  background-position: left top;
}

/*

TEST: [mixin] grid-background-ouput (rtl)

EXPECT:
.rtl-grid-background-output {
  background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(30%, #ff0000), color-stop(50%, rgba(0, 0, 255, 0.5))), -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: -moz-linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: -o-linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(to left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 24px;
  -moz-background-size: 100% 24px;
  -o-background-size: 100% 24px;
  background-size: 100% 24px;
  background-position: left top;
}
*/
.rtl-grid-background-output {
  background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(30%, #ff0000), color-stop(50%, rgba(0, 0, 255, 0.5))), -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: -moz-linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: -o-linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(right, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background: linear-gradient(to left, #ff0000 30%, rgba(0, 0, 255, 0.5) 50%), linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 24px;
  -moz-background-size: 100% 24px;
  -o-background-size: 100% 24px;
  background-size: 100% 24px;
  background-position: left top;
}
