html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

html {
  font-family: sans-serif;
}

body {
  padding: 1.5rem;
}

h1 {
  font-weight: bold;
}

[role="banner"] {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
}

.results {
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  border-width: 1px;
  border-width: 0.0625rem;
  border-style: solid;
  padding: 23px;
  padding: 1.4375rem;
  background-color: rgba(255, 0, 0, 0.25);
  border-color: red;
}
.results::before {
  content: 'Unit Tests: ';
  font-weight: bold;
}
.results::before, .results::after {
  display: inline;
}

.test-module {
  border-bottom-width: 6px;
  border-bottom-width: 0.375rem;
  border-bottom-style: solid;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  border-style: dotted;
}
.test-module:last-of-type {
  padding-bottom: 0;
  border: 0;
}
.test-module > h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

[class^="test__"] {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
[class^="test__"] h1 {
  padding: 0.375rem 0.75rem;
  background: #666;
  color: #eee;
  font-weight: normal;
  font-family: monospace, sans-serif;
}

[class^="assert__"] {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  text-align: center;
}
[class^="assert__"] div {
  background: rgba(255, 255, 255, 0.25);
  outline: 1px solid rgba(255, 0, 0, 0.25);
  outline-offset: -1px;
}
[class^="assert__"] .test, [class^="assert__"] .expect {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), rgba(255, 204, 204, 0.5);
  background-clip: content-box, border-box;
}
[class^="assert__"] .test {
  outline-color: red;
}
[class^="assert__"] .expect {
  outline-color: green;
}
[class^="assert__"] .spacer {
  height: 3.75rem;
  outline: 1px solid rgba(68, 68, 68, 0.25);
  background: rgba(68, 68, 68, 0.125);
}

/* - [mixin] container */
.test__container .assert__default-box {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__container .assert__default-box::before {
  content: "Containers should have 80% max-width and show a 7 .5 grid.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__container .assert__border-box {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__container .assert__border-box::before {
  content: "Containers should have 40em max-width, border-box-sizing, and show a (1 2 3 2 1) (4em 2em) grid, flush left.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] gutters */
.test__gutters .assert__gutters {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 14.28571%, rgba(102, 102, 255, 0.25) 14.28571%, rgba(179, 179, 255, 0.25) 28.57143%, rgba(102, 102, 255, 0.25) 28.57143%, rgba(179, 179, 255, 0.25) 42.85714%, rgba(102, 102, 255, 0.25) 42.85714%, rgba(179, 179, 255, 0.25) 57.14286%, rgba(102, 102, 255, 0.25) 57.14286%, rgba(179, 179, 255, 0.25) 71.42857%, rgba(102, 102, 255, 0.25) 71.42857%, rgba(179, 179, 255, 0.25) 85.71429%, rgba(102, 102, 255, 0.25) 85.71429%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 14.28571%, rgba(102, 102, 255, 0.25) 14.28571%, rgba(179, 179, 255, 0.25) 28.57143%, rgba(102, 102, 255, 0.25) 28.57143%, rgba(179, 179, 255, 0.25) 42.85714%, rgba(102, 102, 255, 0.25) 42.85714%, rgba(179, 179, 255, 0.25) 57.14286%, rgba(102, 102, 255, 0.25) 57.14286%, rgba(179, 179, 255, 0.25) 71.42857%, rgba(102, 102, 255, 0.25) 71.42857%, rgba(179, 179, 255, 0.25) 85.71429%, rgba(102, 102, 255, 0.25) 85.71429%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 14.28571%, rgba(102, 102, 255, 0.25) 14.28571%, rgba(179, 179, 255, 0.25) 28.57143%, rgba(102, 102, 255, 0.25) 28.57143%, rgba(179, 179, 255, 0.25) 42.85714%, rgba(102, 102, 255, 0.25) 42.85714%, rgba(179, 179, 255, 0.25) 57.14286%, rgba(102, 102, 255, 0.25) 57.14286%, rgba(179, 179, 255, 0.25) 71.42857%, rgba(102, 102, 255, 0.25) 71.42857%, rgba(179, 179, 255, 0.25) 85.71429%, rgba(102, 102, 255, 0.25) 85.71429%, rgba(179, 179, 255, 0.25));
}
.test__gutters .assert__gutters:after {
  content: "";
  display: table;
  clear: both;
}

.test__gutters .assert__gutters::before {
  content: "Item should have 2.5% padding-gutters added before and after";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] isolate */
.test__isolate .assert__isolate {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__isolate .assert__isolate:after {
  content: "";
  display: table;
  clear: both;
}

.test__isolate .assert__isolate .test, .test__isolate .assert__isolate .expect {
  width: 25%;
  float: left;
  clear: both;
}

.test__isolate .assert__isolate::before {
  content: "Item should be isolated in the last 2 columns, right-to-left";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] gallery */
.test__gallery .assert__sym {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 18%, rgba(102, 102, 255, 0.25) 18%, rgba(179, 179, 255, 0.25) 28.0%, transparent 28.0%, transparent 36%, rgba(102, 102, 255, 0.25) 36%, rgba(179, 179, 255, 0.25) 46%, transparent 46%, transparent 54%, rgba(102, 102, 255, 0.25) 54%, rgba(179, 179, 255, 0.25) 64%, transparent 64%, transparent 72%, rgba(102, 102, 255, 0.25) 72%, rgba(179, 179, 255, 0.25) 82%, transparent 82%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 18%, rgba(102, 102, 255, 0.25) 18%, rgba(179, 179, 255, 0.25) 28.0%, transparent 28.0%, transparent 36%, rgba(102, 102, 255, 0.25) 36%, rgba(179, 179, 255, 0.25) 46%, transparent 46%, transparent 54%, rgba(102, 102, 255, 0.25) 54%, rgba(179, 179, 255, 0.25) 64%, transparent 64%, transparent 72%, rgba(102, 102, 255, 0.25) 72%, rgba(179, 179, 255, 0.25) 82%, transparent 82%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 18%, rgba(102, 102, 255, 0.25) 18%, rgba(179, 179, 255, 0.25) 28.0%, transparent 28.0%, transparent 36%, rgba(102, 102, 255, 0.25) 36%, rgba(179, 179, 255, 0.25) 46%, transparent 46%, transparent 54%, rgba(102, 102, 255, 0.25) 54%, rgba(179, 179, 255, 0.25) 64%, transparent 64%, transparent 72%, rgba(102, 102, 255, 0.25) 72%, rgba(179, 179, 255, 0.25) 82%, transparent 82%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__gallery .assert__sym:after {
  content: "";
  display: table;
  clear: both;
}

.test__gallery .assert__sym .nest {
  overflow: hidden;
}
.test__gallery .assert__sym .test, .test__gallery .assert__sym .expect {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.test__gallery .assert__sym::before {
  content: "Items should create 3x symmetrical isolated gallery.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__gallery .assert__inside {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 16.66667%, rgba(102, 102, 255, 0.25) 16.66667%, rgba(179, 179, 255, 0.25) 33.33333%, rgba(102, 102, 255, 0.25) 33.33333%, rgba(179, 179, 255, 0.25) 50%, rgba(102, 102, 255, 0.25) 50%, rgba(179, 179, 255, 0.25) 66.66667%, rgba(102, 102, 255, 0.25) 66.66667%, rgba(179, 179, 255, 0.25) 83.33333%, rgba(102, 102, 255, 0.25) 83.33333%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 16.66667%, rgba(102, 102, 255, 0.25) 16.66667%, rgba(179, 179, 255, 0.25) 33.33333%, rgba(102, 102, 255, 0.25) 33.33333%, rgba(179, 179, 255, 0.25) 50%, rgba(102, 102, 255, 0.25) 50%, rgba(179, 179, 255, 0.25) 66.66667%, rgba(102, 102, 255, 0.25) 66.66667%, rgba(179, 179, 255, 0.25) 83.33333%, rgba(102, 102, 255, 0.25) 83.33333%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 16.66667%, rgba(102, 102, 255, 0.25) 16.66667%, rgba(179, 179, 255, 0.25) 33.33333%, rgba(102, 102, 255, 0.25) 33.33333%, rgba(179, 179, 255, 0.25) 50%, rgba(102, 102, 255, 0.25) 50%, rgba(179, 179, 255, 0.25) 66.66667%, rgba(102, 102, 255, 0.25) 66.66667%, rgba(179, 179, 255, 0.25) 83.33333%, rgba(102, 102, 255, 0.25) 83.33333%, rgba(179, 179, 255, 0.25));
}
.test__gallery .assert__inside:after {
  content: "";
  display: table;
  clear: both;
}

.test__gallery .assert__inside .nest {
  overflow: hidden;
}
.test__gallery .assert__inside .test, .test__gallery .assert__inside .expect {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.test__gallery .assert__inside::before {
  content: "Items should create 3x isolated gallery with inside-gutters.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__gallery .assert__asym {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12%, rgba(102, 102, 255, 0.25) 12%, rgba(179, 179, 255, 0.25) 32%, transparent 32%, transparent 34%, rgba(102, 102, 255, 0.25) 34%, rgba(179, 179, 255, 0.25) 44.0%, transparent 44.0%, transparent 46%, rgba(102, 102, 255, 0.25) 46%, rgba(179, 179, 255, 0.25) 66.0%, transparent 66.0%, transparent 68%, rgba(102, 102, 255, 0.25) 68%, rgba(179, 179, 255, 0.25) 88.0%, transparent 88.0%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12%, rgba(102, 102, 255, 0.25) 12%, rgba(179, 179, 255, 0.25) 32%, transparent 32%, transparent 34%, rgba(102, 102, 255, 0.25) 34%, rgba(179, 179, 255, 0.25) 44.0%, transparent 44.0%, transparent 46%, rgba(102, 102, 255, 0.25) 46%, rgba(179, 179, 255, 0.25) 66.0%, transparent 66.0%, transparent 68%, rgba(102, 102, 255, 0.25) 68%, rgba(179, 179, 255, 0.25) 88.0%, transparent 88.0%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12%, rgba(102, 102, 255, 0.25) 12%, rgba(179, 179, 255, 0.25) 32%, transparent 32%, transparent 34%, rgba(102, 102, 255, 0.25) 34%, rgba(179, 179, 255, 0.25) 44.0%, transparent 44.0%, transparent 46%, rgba(102, 102, 255, 0.25) 46%, rgba(179, 179, 255, 0.25) 66.0%, transparent 66.0%, transparent 68%, rgba(102, 102, 255, 0.25) 68%, rgba(179, 179, 255, 0.25) 88.0%, transparent 88.0%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__gallery .assert__asym:after {
  content: "";
  display: table;
  clear: both;
}

.test__gallery .assert__asym .nest {
  overflow: hidden;
}
.test__gallery .assert__asym .test, .test__gallery .assert__asym .expect {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.test__gallery .assert__asym::before {
  content: "Items should create 3x isolated asymmetrical gallery.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__gallery .assert__asym-inside {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 11.76471%, rgba(102, 102, 255, 0.25) 11.76471%, rgba(179, 179, 255, 0.25) 33.33333%, rgba(102, 102, 255, 0.25) 33.33333%, rgba(179, 179, 255, 0.25) 45.09804%, rgba(102, 102, 255, 0.25) 45.09804%, rgba(179, 179, 255, 0.25) 66.66667%, rgba(102, 102, 255, 0.25) 66.66667%, rgba(179, 179, 255, 0.25) 88.23529%, rgba(102, 102, 255, 0.25) 88.23529%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 11.76471%, rgba(102, 102, 255, 0.25) 11.76471%, rgba(179, 179, 255, 0.25) 33.33333%, rgba(102, 102, 255, 0.25) 33.33333%, rgba(179, 179, 255, 0.25) 45.09804%, rgba(102, 102, 255, 0.25) 45.09804%, rgba(179, 179, 255, 0.25) 66.66667%, rgba(102, 102, 255, 0.25) 66.66667%, rgba(179, 179, 255, 0.25) 88.23529%, rgba(102, 102, 255, 0.25) 88.23529%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 11.76471%, rgba(102, 102, 255, 0.25) 11.76471%, rgba(179, 179, 255, 0.25) 33.33333%, rgba(102, 102, 255, 0.25) 33.33333%, rgba(179, 179, 255, 0.25) 45.09804%, rgba(102, 102, 255, 0.25) 45.09804%, rgba(179, 179, 255, 0.25) 66.66667%, rgba(102, 102, 255, 0.25) 66.66667%, rgba(179, 179, 255, 0.25) 88.23529%, rgba(102, 102, 255, 0.25) 88.23529%, rgba(179, 179, 255, 0.25));
}
.test__gallery .assert__asym-inside:after {
  content: "";
  display: table;
  clear: both;
}

.test__gallery .assert__asym-inside .nest {
  overflow: hidden;
}
.test__gallery .assert__asym-inside .test, .test__gallery .assert__asym-inside .expect {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.test__gallery .assert__asym-inside::before {
  content: "Items should create 3x isolated asymmetrical gallery, with inside gutters.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Margin Syntax ------ */
/* - [mixin] pre */
.test__pre .assert__pre {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__pre .assert__pre:after {
  content: "";
  display: table;
  clear: both;
}

.test__pre .assert__pre::before {
  content: "Items should have 3-columns margin before.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] post */
.test__post .assert__post {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__post .assert__post:after {
  content: "";
  display: table;
  clear: both;
}

.test__post .assert__post::before {
  content: "Items should have 2-columns margin after.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] push */
.test__push .assert__push {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__push .assert__push:after {
  content: "";
  display: table;
  clear: both;
}

.test__push .assert__push::before {
  content: "Items should have 2-columns margin before.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] pull */
.test__pull .assert__pull {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__pull .assert__pull:after {
  content: "";
  display: table;
  clear: both;
}

.test__pull .assert__pull .spacer {
  width: 32.5%;
  float: left;
  margin-right: 2.5%;
}
.test__pull .assert__pull .test, .test__pull .assert__pull .expect {
  width: 75%;
  float: left;
  margin-right: 2.5%;
}

.test__pull .assert__pull::before {
  content: "Items should pull 1-column, overlapping the spacer.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] squish */
.test__squish .assert__simple {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__squish .assert__simple:after {
  content: "";
  display: table;
  clear: both;
}

.test__squish .assert__simple::before {
  content: "Items should have 2-columns margin before and after.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__squish .assert__nested {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 7.69231%, transparent 7.69231%, transparent 11.53846%, rgba(102, 102, 255, 0.25) 11.53846%, rgba(179, 179, 255, 0.25) 19.23077%, transparent 19.23077%, transparent 23.07692%, rgba(102, 102, 255, 0.25) 23.07692%, rgba(179, 179, 255, 0.25) 30.76923%, transparent 30.76923%, transparent 34.61538%, rgba(102, 102, 255, 0.25) 34.61538%, rgba(179, 179, 255, 0.25) 42.30769%, transparent 42.30769%, transparent 46.15385%, rgba(102, 102, 255, 0.25) 46.15385%, rgba(179, 179, 255, 0.25) 53.84615%, transparent 53.84615%, transparent 57.69231%, rgba(102, 102, 255, 0.25) 57.69231%, rgba(179, 179, 255, 0.25) 65.38462%, transparent 65.38462%, transparent 69.23077%, rgba(102, 102, 255, 0.25) 69.23077%, rgba(179, 179, 255, 0.25) 76.92308%, transparent 76.92308%, transparent 80.76923%, rgba(102, 102, 255, 0.25) 80.76923%, rgba(179, 179, 255, 0.25) 88.46154%, transparent 88.46154%, transparent 92.30769%, rgba(102, 102, 255, 0.25) 92.30769%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 7.69231%, transparent 7.69231%, transparent 11.53846%, rgba(102, 102, 255, 0.25) 11.53846%, rgba(179, 179, 255, 0.25) 19.23077%, transparent 19.23077%, transparent 23.07692%, rgba(102, 102, 255, 0.25) 23.07692%, rgba(179, 179, 255, 0.25) 30.76923%, transparent 30.76923%, transparent 34.61538%, rgba(102, 102, 255, 0.25) 34.61538%, rgba(179, 179, 255, 0.25) 42.30769%, transparent 42.30769%, transparent 46.15385%, rgba(102, 102, 255, 0.25) 46.15385%, rgba(179, 179, 255, 0.25) 53.84615%, transparent 53.84615%, transparent 57.69231%, rgba(102, 102, 255, 0.25) 57.69231%, rgba(179, 179, 255, 0.25) 65.38462%, transparent 65.38462%, transparent 69.23077%, rgba(102, 102, 255, 0.25) 69.23077%, rgba(179, 179, 255, 0.25) 76.92308%, transparent 76.92308%, transparent 80.76923%, rgba(102, 102, 255, 0.25) 80.76923%, rgba(179, 179, 255, 0.25) 88.46154%, transparent 88.46154%, transparent 92.30769%, rgba(102, 102, 255, 0.25) 92.30769%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 7.69231%, transparent 7.69231%, transparent 11.53846%, rgba(102, 102, 255, 0.25) 11.53846%, rgba(179, 179, 255, 0.25) 19.23077%, transparent 19.23077%, transparent 23.07692%, rgba(102, 102, 255, 0.25) 23.07692%, rgba(179, 179, 255, 0.25) 30.76923%, transparent 30.76923%, transparent 34.61538%, rgba(102, 102, 255, 0.25) 34.61538%, rgba(179, 179, 255, 0.25) 42.30769%, transparent 42.30769%, transparent 46.15385%, rgba(102, 102, 255, 0.25) 46.15385%, rgba(179, 179, 255, 0.25) 53.84615%, transparent 53.84615%, transparent 57.69231%, rgba(102, 102, 255, 0.25) 57.69231%, rgba(179, 179, 255, 0.25) 65.38462%, transparent 65.38462%, transparent 69.23077%, rgba(102, 102, 255, 0.25) 69.23077%, rgba(179, 179, 255, 0.25) 76.92308%, transparent 76.92308%, transparent 80.76923%, rgba(102, 102, 255, 0.25) 80.76923%, rgba(179, 179, 255, 0.25) 88.46154%, transparent 88.46154%, transparent 92.30769%, rgba(102, 102, 255, 0.25) 92.30769%, rgba(179, 179, 255, 0.25));
}
.test__squish .assert__nested:after {
  content: "";
  display: table;
  clear: both;
}

.test__squish .assert__nested .nest {
  margin-left: 11.53846%;
  margin-right: 11.53846%;
}

.test__squish .assert__nested::before {
  content: "Items should have 1-column margin before, and 2 after - nested.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Padding Syntax ------ */
/* - [mixin] prefix */
.test__prefix .assert__prefix {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 15%, rgba(102, 102, 255, 0.25) 15%, rgba(179, 179, 255, 0.25) 25%, transparent 25%, transparent 30%, rgba(102, 102, 255, 0.25) 30%, rgba(179, 179, 255, 0.25) 40%, transparent 40%, transparent 45%, rgba(102, 102, 255, 0.25) 45%, rgba(179, 179, 255, 0.25) 55.0%, transparent 55.0%, transparent 60%, rgba(102, 102, 255, 0.25) 60%, rgba(179, 179, 255, 0.25) 70%, transparent 70%, transparent 75%, rgba(102, 102, 255, 0.25) 75%, rgba(179, 179, 255, 0.25) 85%, transparent 85%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__prefix .assert__prefix:after {
  content: "";
  display: table;
  clear: both;
}

.test__prefix .assert__prefix::before {
  content: "Items should have 3 columns padding before.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] suffix */
.test__suffix .assert__suffix {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__suffix .assert__suffix:after {
  content: "";
  display: table;
  clear: both;
}

.test__suffix .assert__suffix::before {
  content: "Items should have 2 columns padding after.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] pad */
.test__pad .assert__simple {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 10%, transparent 10%, transparent 12.5%, rgba(102, 102, 255, 0.25) 12.5%, rgba(179, 179, 255, 0.25) 32.5%, transparent 32.5%, transparent 35%, rgba(102, 102, 255, 0.25) 35%, rgba(179, 179, 255, 0.25) 65%, transparent 65%, transparent 67.5%, rgba(102, 102, 255, 0.25) 67.5%, rgba(179, 179, 255, 0.25) 87.5%, transparent 87.5%, transparent 90%, rgba(102, 102, 255, 0.25) 90%, rgba(179, 179, 255, 0.25));
}
.test__pad .assert__simple:after {
  content: "";
  display: table;
  clear: both;
}

.test__pad .assert__simple::before {
  content: "Items should have 2 columns padding before and after.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__pad .assert__nested {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 7.69231%, transparent 7.69231%, transparent 11.53846%, rgba(102, 102, 255, 0.25) 11.53846%, rgba(179, 179, 255, 0.25) 19.23077%, transparent 19.23077%, transparent 23.07692%, rgba(102, 102, 255, 0.25) 23.07692%, rgba(179, 179, 255, 0.25) 30.76923%, transparent 30.76923%, transparent 34.61538%, rgba(102, 102, 255, 0.25) 34.61538%, rgba(179, 179, 255, 0.25) 42.30769%, transparent 42.30769%, transparent 46.15385%, rgba(102, 102, 255, 0.25) 46.15385%, rgba(179, 179, 255, 0.25) 53.84615%, transparent 53.84615%, transparent 57.69231%, rgba(102, 102, 255, 0.25) 57.69231%, rgba(179, 179, 255, 0.25) 65.38462%, transparent 65.38462%, transparent 69.23077%, rgba(102, 102, 255, 0.25) 69.23077%, rgba(179, 179, 255, 0.25) 76.92308%, transparent 76.92308%, transparent 80.76923%, rgba(102, 102, 255, 0.25) 80.76923%, rgba(179, 179, 255, 0.25) 88.46154%, transparent 88.46154%, transparent 92.30769%, rgba(102, 102, 255, 0.25) 92.30769%, rgba(179, 179, 255, 0.25));
  background: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 7.69231%, transparent 7.69231%, transparent 11.53846%, rgba(102, 102, 255, 0.25) 11.53846%, rgba(179, 179, 255, 0.25) 19.23077%, transparent 19.23077%, transparent 23.07692%, rgba(102, 102, 255, 0.25) 23.07692%, rgba(179, 179, 255, 0.25) 30.76923%, transparent 30.76923%, transparent 34.61538%, rgba(102, 102, 255, 0.25) 34.61538%, rgba(179, 179, 255, 0.25) 42.30769%, transparent 42.30769%, transparent 46.15385%, rgba(102, 102, 255, 0.25) 46.15385%, rgba(179, 179, 255, 0.25) 53.84615%, transparent 53.84615%, transparent 57.69231%, rgba(102, 102, 255, 0.25) 57.69231%, rgba(179, 179, 255, 0.25) 65.38462%, transparent 65.38462%, transparent 69.23077%, rgba(102, 102, 255, 0.25) 69.23077%, rgba(179, 179, 255, 0.25) 76.92308%, transparent 76.92308%, transparent 80.76923%, rgba(102, 102, 255, 0.25) 80.76923%, rgba(179, 179, 255, 0.25) 88.46154%, transparent 88.46154%, transparent 92.30769%, rgba(102, 102, 255, 0.25) 92.30769%, rgba(179, 179, 255, 0.25));
  background: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 7.69231%, transparent 7.69231%, transparent 11.53846%, rgba(102, 102, 255, 0.25) 11.53846%, rgba(179, 179, 255, 0.25) 19.23077%, transparent 19.23077%, transparent 23.07692%, rgba(102, 102, 255, 0.25) 23.07692%, rgba(179, 179, 255, 0.25) 30.76923%, transparent 30.76923%, transparent 34.61538%, rgba(102, 102, 255, 0.25) 34.61538%, rgba(179, 179, 255, 0.25) 42.30769%, transparent 42.30769%, transparent 46.15385%, rgba(102, 102, 255, 0.25) 46.15385%, rgba(179, 179, 255, 0.25) 53.84615%, transparent 53.84615%, transparent 57.69231%, rgba(102, 102, 255, 0.25) 57.69231%, rgba(179, 179, 255, 0.25) 65.38462%, transparent 65.38462%, transparent 69.23077%, rgba(102, 102, 255, 0.25) 69.23077%, rgba(179, 179, 255, 0.25) 76.92308%, transparent 76.92308%, transparent 80.76923%, rgba(102, 102, 255, 0.25) 80.76923%, rgba(179, 179, 255, 0.25) 88.46154%, transparent 88.46154%, transparent 92.30769%, rgba(102, 102, 255, 0.25) 92.30769%, rgba(179, 179, 255, 0.25));
}
.test__pad .assert__nested:after {
  content: "";
  display: table;
  clear: both;
}

.test__pad .assert__nested .nest {
  padding-left: 11.53846%;
  padding-right: 11.53846%;
}

.test__pad .assert__nested::before {
  content: "Items should have 1 column padding before, and 2 after - nested.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Shared Container API ------ */
/* - [mixin] container-output */
.test__container-output .assert__fluid {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__container-output .assert__fluid::before {
  content: "Containers should have 60em max-width, centered.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__container-output .assert__static {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__container-output .assert__static::before {
  content: "Containers should have 30em width, flush right.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Shared Margin API ------ */
/* - [mixin] margin-output */
.test__margin-output .assert__margin-output {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__margin-output .assert__margin-output::before {
  content: "Elements should have 25% right margin, 8em left.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Shared Padding API ------ */
/* - [mixin] padding-output */
.test__padding-output .assert__padding-output {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__padding-output .assert__padding-output::before {
  content: "Elements should have 25% right padding, 8em left.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Float Container API ------ */
/* - [mixin] float-container */
.test__float-container .assert__float-container {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__float-container .assert__float-container::before {
  content: "Containers should be 30em wide, flush left.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Float Span API ------ */
/* - [mixin] float-span-output */
.test__float-span-output .assert__full {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__float-span-output .assert__full .expect {
  clear: both;
}

.test__float-span-output .assert__full::before {
  content: "Output should be 25%, floated left, with matching margins/padding";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__float-span-output .assert__float-to {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__float-span-output .assert__float-to .expect {
  clear: both;
}

.test__float-span-output .assert__float-to::before {
  content: "Output should be 25%, floated right";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.test__float-span-output .assert__float-null {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__float-span-output .assert__float-null::before {
  content: "Output should be 25%, not floated";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Float End API ------ */
/* - [mixin] float-last */
.test__float-last .assert__float-last {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__float-last .assert__float-last .test, .test__float-last .assert__float-last .expect {
  float: left;
  width: 75%;
  margin-right: 5%;
}

.test__float-last .assert__float-last::before {
  content: "Items should float flush right.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/* - [mixin] float-first */
.test__float-first .assert__float-first {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__float-first .assert__float-first .test, .test__float-first .assert__float-first .expect {
  float: left;
  width: 75%;
  margin-left: 5%;
}

.test__float-first .assert__float-first::before {
  content: "Items should float flush left.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

/*

### Isolation API ------ */
/* - [mixin] isolate-output */
.test__isolate-output .assert__isolate-output {
  overflow: hidden;
  background: rgba(204, 204, 255, 0.5);
}

.test__isolate-output .assert__isolate-output .test, .test__isolate-output .assert__isolate-output .expect {
  width: 40%;
  float: left;
  margin-right: 5.26316%;
}
.test__isolate-output .assert__isolate-output .expect {
  clear: both;
}

.test__isolate-output .assert__isolate-output::before {
  content: "Isolation at 30%, has 30% left margin and -100% right margin.";
  display: block;
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-style: italic;
}

.results {
  background: rgba(0, 128, 0, 0.25);
  border-color: green;
}
.results::after {
  content: "43 Tests, 43 Passed, 0 Failed";
}
