/*
Syntax error: Undefined variable: "$grid-color".
        on line 90 of /Users/eric/Sites/susy/test/scss/language/susy/_background.scss, in `@content'
        from line 12 of /Users/eric/Sites/.venvs/susy/rubygems/gems/true-0.2.0.rc.1/sass/true/_modules.scss, in `test-module'
        from line 4 of /Users/eric/Sites/susy/test/scss/language/susy/_background.scss
        from line 5 of /Users/eric/Sites/susy/test/scss/language/_susy.scss
        from line 40 of /Users/eric/Sites/susy/test/scss/screen.scss

Backtrace:
/Users/eric/Sites/susy/test/scss/language/susy/_background.scss:90:in `@content'
/Users/eric/Sites/.venvs/susy/rubygems/gems/true-0.2.0.rc.1/sass/true/_modules.scss:12:in `test-module'
/Users/eric/Sites/susy/test/scss/language/susy/_background.scss:4
/Users/eric/Sites/susy/test/scss/language/_susy.scss:5
/Users/eric/Sites/susy/test/scss/screen.scss:40
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/script/tree/node.rb:50:in `perform'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:442:in `visit_variable'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:360:in `block (3 levels) in visit_content'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:360:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:360:in `block (2 levels) in visit_content'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:359:in `block in visit_content'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:355:in `visit_content'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:340:in `block (4 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:340:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:340:in `block (3 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:340:in `block (2 levels) in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:79:in `perform_arguments'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:335:in `block in visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:98:in `with_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:323:in `visit_mixin'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:296:in `block (2 levels) in visit_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:296:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:296:in `block in visit_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:88:in `block in with_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:88:in `with_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:293:in `visit_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:296:in `block (2 levels) in visit_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:296:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:296:in `block in visit_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:88:in `block in with_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:88:in `with_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:293:in `visit_import'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:115:in `with_frame'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/stack.rb:79:in `with_base'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:162:in `block in visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:181:in `visit_root'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/tree/root_node.rb:20:in `render'
/Users/eric/Sites/.venvs/susy/rubygems/bundler/gems/sass-4d748c295ef7/lib/sass/engine.rb:277:in `render'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:132:in `timed'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:145:in `block in compile'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/logger.rb:46:in `red'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:144:in `compile'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:124:in `compile_if_required'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:107:in `each'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:107:in `block in run'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:132:in `timed'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/compiler.rb:106:in `run'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/watcher/compiler.rb:24:in `compile'
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/watcher/project_watcher.rb:95:in `sass_modified'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/watcher/project_watcher.rb:83:in `sass_callback'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/watcher/watch.rb:14:in `call'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/watcher/watch.rb:14:in `run_callback'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/watcher/project_watcher.rb:63:in `block in listen_callback'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/watcher/project_watcher.rb:60:in `each'
/Users/eric/Sites/.venvs/susy/rubygems/gems/compass-0.13.alpha.10/lib/compass/watcher/project_watcher.rb:60:in `listen_callback'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/eric/Sites/.venvs/susy/rubygems/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$grid-color\".\A         on line 90 of /Users/eric/Sites/susy/test/scss/language/susy/_background.scss, in `@content'\A         from line 12 of /Users/eric/Sites/.venvs/susy/rubygems/gems/true-0.2.0.rc.1/sass/true/_modules.scss, in `test-module'\A         from line 4 of /Users/eric/Sites/susy/test/scss/language/susy/_background.scss\A         from line 5 of /Users/eric/Sites/susy/test/scss/language/_susy.scss\A         from line 40 of /Users/eric/Sites/susy/test/scss/screen.scss"; }
