// Margins
// =======

// Add margin before or after an element
@mixin margin-output(
  $span,
  $location       : false,
  $columns        : $columns,
  $gutters        : $gutters,
  $sides          : before after,
  $column-width   : $column-width,
  $static         : $static-output,
  $flow           : $direction
) {
  $to: to($flow);
  $from: from($flow);

  $width: null;

  @if unitless($span) {
    $width: get-span-outer-width($span, $location, $columns, $gutters, $column-width, $static);
  } @else {
    $width: $span;
  }

  $before: if(index($sides, before), $width, null);
  $after: if(index($sides, after), $width, null);

  margin-#{$from}: $before;
  margin-#{$to}: $after;
}

// Add margin before an element
@mixin margin-before(
  $span,
  $location       : false,
  $columns        : $columns,
  $gutters        : $gutters,
  $column-width   : $column-width,
  $static         : $static-output,
  $flow           : $direction
) {
  @include margin-output($span, $location, $columns, $gutters, before, $column-width, $static, $flow);
}

// Add margin after an element
@mixin margin-after(
  $span,
  $location       : false,
  $columns        : $columns,
  $gutters        : $gutters,
  $column-width   : $column-width,
  $static         : $static-output,
  $flow           : $direction
) {
  @include margin-output($span, $location, $columns, $gutters, after, $column-width, $static, $flow);
}
