$total-columns: 4;
$column-width: 5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

.container {
  @include container;
  @include susy-grid-background();
  
  header, nav, article, footer {
    @extend .container;
  }
  
  .ephemera {
    clear: both;
  }
  
  @include at-breakpoint(10 lt-ie9) {
    @include container;
    @include susy-grid-background();
    
    .side_content {
      @include span-columns(4);
    }
    
    .main_content {
      @include span-columns(6);
      @include omega;
    }
  }
  
}