$total-columns: 4;
$column-width: 5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$break: 10 lt-ie9;

.container {
  @include container;
  @include susy-grid-background();
  
  @include at-breakpoint($break) {
    @include container;
    @include susy-grid-background();
  }
}

@include at-breakpoint($break) {
  .side_content {
    @include span-columns(4);
  }

  .main_content {
    @include span-columns(6 omega);
  }
}

.ephemera {
  clear: both;
}
