// Container Math Tests
// ====================

@include test-module('Container Math') {

  // Calculate Container Width
  // -------------------------

  @include test('[function] calculate-container-width()') {
    $columns: 4;
    $gutters: 1/4;
    $column-width: 4em;

    // standard
    $test: calculate-container-width($columns, $gutters, $column-width);
    $expect: 19em;
    @include assert-equal($test, $expect,
      'Container widths are calculated correctly.');
  }

}
