// Settings
// ========

// Version
// -------
$su-version: 1.1;


// Default Settings
// ----------------
// PRIVATE: The basic settings
$su-defaults: (
  columns: 4,
  gutters: .25,
);


// User Settings
// -------------
// - Define the $su variable with a map of your own settings.
// - Set EITHER $column-width OR $container
// - Use $column-width for static layouts
$su: () !default;


// Su Defaults
// -------------
// PRIVATE: Add defaults to su
@mixin su-defaults(
  $defaults
) {
  $su-defaults: map-merge($su-defaults, $defaults) !global;
}


// Su Set
// --------
// Change one setting
// - $key   : setting name
// - $value : setting value
@mixin su-set(
  $key-value...
) {
  $su: deep-set($su, $key-value...) !global;
}


// Su Get
// --------
// Return one setting from a grid
// - $key     : <keyword>
// - $layout  : <settings>
@function su-get(
  $key,
  $layout: map-merge($su-defaults, $su)
) {
  $layout: parse-grid($layout);
  $options: $layout $su $su-defaults;
  $break: false;
  $return: null;

  @each $opt in $options {
    @if type-of($opt) == map and not($break) {
      $keyset: deep-has-key($opt, $key...);
      @if $keyset {
        $return: deep-get($opt, $key...);
        $break: true;
      }
    }
  }

  @return $return;
}
