// Flexbox
// =======



// Symmetrical, Split
// ------------------

$susy: (
  'columns': susy-repeat(10),
  'container-spread': 'wide',
);

.flex-sym-split {
  .ag {
    align-items: stretch;
    background: susy-svg-grid('wider') no-repeat scroll;
    display: flex;
    padding: 0 half-gutter('wider');
  }

  .grid-element {
    margin: 0 half-gutter();
  }

  .size1of5 {
    order: 1;
    width: susy-span(2);

    + .size1of5 {
      order: 3;
    }
  }

  .size3of5 {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    order: 2;

    .size1of2 {
      margin: 0 half-gutter(6);
      width: susy-span(3 of 6);
    }

    > .full {
      align-items: stretch;
      display: flex;
      flex: 1 0 auto;
    }
  }

  .size1of3 {
    margin: 0 half-gutter(6);
    width: susy-span(2 of 6);
  }

  .size2of3 {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;

    .grid-element {
      margin: 0 half-gutter(4);
    }

    .size1of2 {
      width: susy-span(2 of 4);
    }

    .full {
      flex: 1 0 auto;
    }
  }
}
