//-----------------------------------------------------------------------------
// Variables

$link   : '&:link, &:visited';
$focus  : '&:hover, &:focus, &:active';

//-----------------------------------------------------------------------------
// Root

@include establish-baseline;
html { 
  @include text-shadow(rgba(white,.5) 0 1px 0);
  color: $base;
  background: $base3;
  font-family: $font-stack; 
}

a { #{$link} { text-decoration: none; } }
b, i { font-weight: normal; font-style: normal; }
code { font-family: $mono-stack; }
.amp { font-family: $amp-stack; }
.caps {   font-family: $caps-stack; }
