.type {
  a {
    #{$link} { 
      @include transition(all 300ms);
      color: $accent; 
    }
    #{$focus} { color: $alt; }
  }
  p {
    @include trailer;
  }
  ul {
    list-style-type: disc;
  }
  h2 { 
    font-family: $caps-stack;
    text-transform: lowercase;
    letter-spacing: .1em;
    color: $base01;
  }
  code {
    @include adjust-font-size-to(12px);
    display: block;
    b { font-weight: bold; }
    i { font-style: italic; }
  }
}