// Float Container API Tests
// =========================

@include output-test-module('Float Container API') {

  // Float Container
  // ---------------

  @include output-test('float-container') {
    @include assert-setup { background: rgba(#eee, .5); }
    @include assert-output(
      'Containers should be 30em wide, flush left.'
    ) {
      .test { @include float-container(30em, left); }
      .expect {
        max-width: 30em;
        margin-left: 0;
        margin-right: auto;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
    }
  }

}
