!!! 5
%html.no-js{:lang => "en"}

  = partial "partials/head"

  %body{ :id => "susy-oddbird-net", :class => page_classes }

    = partial "partials/demonav"

    %section.page

      %header.banner{ :role => "banner" }
        %h1 Susy Demo
        %h2 responsive grids for compass

      %nav.pagenav
        = data.page.pagenav

      %article.main{ :role => "main" }
        ~ yield

    = partial "partials/javascripts"
