// ---------------------------------------------------------------------------
// Imports

@import "modular-scale";

// ---------------------------------------------------------------------------
// Size Settings

$base-size    : 16px;
$ratio        : major-third() fifth();

$norm         : 1;
$xxxsmall     : ms(-4,$norm);
$xxsmall      : ms(-3,$norm);
$xsmall       : ms(-2,$norm);
$small        : ms(-1,$norm);
$small-norm   : (ms(-1,$norm) + $norm)/2;
$large-norm   : (ms(1,$norm) + $norm)/2;
$med          : ms(1,$norm);
$large        : ms(2,$norm);
$xlarge       : ms(4,$norm);
$xxlarge      : ms(8,$norm);
$xxxlarge     : ms(16,$norm);

$normem       : 1em;
$medem        : ms(1,$normem);
$smallem      : ms(-1,$normem);
$xsmallem     : ms(-2,$normem);
$xxsmallem    : ms(-3,$normem);
$xxxsmallem   : ms(-4,$normem);
$small-normem : (ms(-1,$normem) + $normem)/2;
$large-normem : (ms(1,$normem) + $normem)/2;
$largeem      : ms(2,$normem);
$xlargeem     : ms(3,$normem);
$xxlargeem    : ms(6,$normem);
$xxxlargeem   : ms(12,$normem);

$normpx       : $base-size;
$medpx        : ms(1);
$smallpx      : ms(-1);
$xsmallpx     : ms(-2);
$xxsmallpx    : ms(-3);
$xxxsmallpx   : ms(-4);
$small-normpx : (ms(-1,$normpx) + $normpx)/2;
$large-normpx : ms(2);
$largepx      : ms(4);
$xlargepx     : ms(6);
$xxlargepx    : ms(12);
$xxxlargepx   : ms(16);
