/*
  Welcome to Susy. Use this file to define screen styles.
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
 
@import base.sass
 
/* STRUCTURE AND STYLE (too simple to split out)
body
  +susy
 
#page
  +container
  +sans-family
  :color= !text
 
#brand
  +columns(8)
  +pad(1,1)
  +full
  :margin
    :top 3em
    :bottom 1.5em
  h1
    +columns(5,8)
    +pad(1,2,8)
    +full(8)
    +replace-text("susy_logo.png", "left")
    :height 105px
    
#nav
  +columns(2)
  +alpha
  ul
    +no-bullets
    :margin 0
    :text-align right
    :font-weight bold
 
#content
  +columns(8)
  +omega
  :margin-bottom 3em
  #description
    +columns(5,8)
    +alpha(8)
  #credit
    +columns(3,8)
    +omega(8)
    :color= !light
 
#site-info
  +columns(8)
  +prefix(2)
  +full
  :padding
    :top .5em
    :bottom .75em
  :border-top
    :width .25em
    :style dashed
    :color= !light
  +serif-family
  :font-style italic
  :color= !light
  p
    :margin 0
    &.license
      +columns(5,8)
      +alpha(8)
    &.styles
      +columns(3,8)
      +omega(8)
      :text-align right
  a:link, a:visited
    :color= !light
    :font-weight bold
 
/* DEBUG
  uncomment, adjust and use for debugging
  
#page
  +show-grid("grid.png")
  :background-position= !side_gutter_width + "em top"
  div
    :background #333
    +opacity(.75)
    div
      :background #000
