%ul
  %li 
    %a{ :href => "#", :title => "#" } Getting Started
  %li 
    %a{ :href => "#", :title => "#" } Tutorial
  %li 
    %a{ :href => "#", :title => "#" } Reference
  -# Think about bringing Recipes in later, but not needed for now
  -# %li 
  -#   %a{ :href => "#", :title => "#" } Recipes
  %li 
    %a{ :href => "#", :title => "#" } Susy vs. Bluebrint
  %li
    %a{ :href => "#", :title => "#" } Sites Using Susy
  %li
    %a{ :href => "#", :title => "#" } About
  %li
    %a{ :href => "#", :title => "#" } Contribute