- content_for :head do
  %title SUSY | Reference
  
- content_for :side_content do
  %ul
    %li
      %a{ :href => "#" } container
    %li
      %a{ :href => "#" } full
    %li
      %a{ :href => "#" } alpha
    %li
      %a{ :href => "#" } omega