// Susy Parser Tests
// =================


// Susy Parse
// ----------
@include test-module('Susy Parse [function]') {
  @include test('Simple grid span') {
    $expect: ('span': 5);

    @include assert-equal(
      susy-parse(5),
      $expect,
      'A single unitless number is returned as span only');
  }

  @include test('Span with symmetrical column-slice') {
    $expect: (
      'span': 5,
      'columns': 12,
    );

    @include assert-equal(
      susy-parse(5 of 12),
      $expect,
      'Span and symmetrical columns are properly mapped');
  }

  @include test('Span with spread') {
    $expect: (
      'span': 5,
      'spread': 'wide',
    );

    @include assert-equal(
      susy-parse(5 'wide'),
      $expect,
      'Span and spread are properly mapped');
  }

  @include test('Span with location and asymmetrical columns') {
    $expect: (
      'span': 4,
      'location': 2,
      'columns': (1 2 3 5 8),
    );

    @include assert-equal(
      susy-parse(4 of (1 2 3 5 8) at 2),
      $expect,
      'Span, location, and asymmetrical columns are properly mapped');
  }

  @include test('Span with keyword location') {
    $expect: (
      'span': 4,
      'location': 'last',
      'columns': (1 2 3 5 8),
    );

    @include assert-equal(
      susy-parse('last' 4 of (1 2 3 5 8)),
      $expect,
      'Span, keyword location, and columns are properly mapped');
  }

  @include test('Span all') {
    $expect: (
      'span': 'all',
      'columns': (1 2 3 5 8),
    );

    @include assert-equal(
      susy-parse(all of (1 2 3 5 8)),
      $expect,
      'Span "all" is properly mapped');
  }

  @include test('Container-spread') {
    $expect: (
      'span': 3,
      'columns': 12,
      'container-spread': 'wide',
    );

    @include assert-equal(
      susy-parse(3 of 12 'wide'),
      $expect,
      'Container-spread is properly mapped');
  }

  @include test('Keywords before span') {
    $expect: (
      'span': 3,
      'spread': 'wide',
      'location': 'first',
    );

    @include assert-equal(
      susy-parse('wide' 'first' 3),
      $expect,
      'Keywords can be passed in before the span value');
  }

  @include test('Explicit asymmetrical span') {
    $span: (1 2 3 4);
    $expect: (
      'span': $span,
      'columns': 12,
    );

    @include assert-equal(
      susy-parse($span of 12),
      $expect,
      'Explicit asymmetrical span is parsed properly');
  }

  @include test('Parse gutters') {
    $expect: (
      'span': 3,
      'gutters': 2,
    );

    @include assert-equal(
      susy-parse(3 set-gutters 2),
      $expect,
      'Set-gutters keyword allows shorthand gutters');
  }

  @include test('Unknown string parsing error') {
    @include assert-equal(
      susy-parse(3 wtf),
      'ERROR [susy-parse] Unknown shorthand property: [string] `wtf`');
  }

  @include test('Unknown number parsing error') {
    @include assert-equal(
      susy-parse(3 156),
      'ERROR [susy-parse] Unknown shorthand property: [number] `156`');

    @include assert-equal(
      susy-parse(3 of 12 156),
      'ERROR [susy-parse] Unknown shorthand property: [number] `156`');
  }

  @include test('Unknown type parsing error') {
    @include assert-equal(
      susy-parse(3 #fff),
      'ERROR [susy-parse] Unknown shorthand property: [color] `#fff`');
  }
}


// Normalize
// ---------
@include test-module('Susy Normalize [function]') {
  @include test('All values') {
    $config: (
      'span': 'all',
      'columns': 6,
      'location': 'last',
      'spread': 'wider',
      'container-spread': 'narrow',
    );

    $expect: (
      'span': 6,
      'columns': (1 1 1 1 1 1),
      'location': 1,
      'spread': 1,
      'container-spread': -1,
    );

    @include assert-equal(
      susy-normalize($config),
      $expect);
  }

  @include test('Missing Columns') {
    @include assert-equal(
      susy-normalize(('span': 3)),
      ('span': 3));
  }

  @include test('Last') {
    $config: ('columns': (1 1 2 3 5 8 13));
    $input: (
      'location': 'last',
      'span': 4,
    );
    $expect: (
      'location': 4,
      'span': 4,
    );
    @include assert-equal(
      susy-normalize($input, $config),
      $expect);
  }

  @include test('All') {
    $grid: (
      'columns': susy-repeat(10, 5em),
      'gutters': 0.5em,
      'spread': 'wide',
      'container-spread': 'wide',
    );
    $input: (
      'span': 'all',
    );
    $expect: (
      'span': 10,
    );

    @include assert-equal(
      susy-normalize($input, $grid),
      $expect);
  }
}


// Normalize Span
// --------------
@include test-module('Susy Normalize Span [funtion]') {
  @include test('Keyword span') {
    @include assert-equal(
      susy-normalize-span('all', 1 1 1 1 1 1),
      6);
  }
}


// Normalize Columns
// -----------------
@include test-module('Susy Normalize Columns [function]') {
  @include test('Nothing to normalize') {
    @include assert-equal(
      susy-normalize-columns(1 1 1 1 1 1),
      1 1 1 1 1 1);
  }

  @include test('Nothing to normalize') {
    @include assert-equal(
      susy-normalize-columns(1 1 1 1 1 1),
      1 1 1 1 1 1);
  }

  @include test('Get Symmetrical Slice') {
    $config: ('columns': susy-repeat(10, 120px));

    @include assert-equal(
      susy-normalize-columns(6, $config),
      susy-repeat(6, 120px));
  }

  @include test('Flatten lists') {
    $in: 20px susy-repeat(3, 100px) 20px;
    $out: 20px 100px 100px 100px 20px;

    @include assert-unequal(
      $in
      $out,
      'Confirm that the list needs flattening');

    @include assert-equal(
      susy-normalize-columns($in),
      $out,
      'Confirm that the list is now flat');
  }

  @include test('Error on failed slice') {
    $config: ('columns': 3 4 5);

    @include assert-equal(
      susy-normalize-columns(6, $config),
      'ERROR [susy-normalize-columns] context-slice of `6` can not be determined based on grid-columns `3 4 5`.');
  }
}


// Normalize Spread
// ----------------
@include test-module('Susy Normalize Spread [function]') {
  @include test('Keyword spread') {
    @include assert-equal(
      susy-normalize-spread('wider'),
      1,
      'Keyword is converted to a number for grid-math');
  }

  @include test('Numeric spread') {
    @include assert-equal(
      susy-normalize-spread(-1),
      -1,
      'Number is returned directly');
  }
}


// Normalize Location
// ------------------
@include test-module('Susy Normalize Location [function]') {
  @include test('Numeric column position') {
    @include assert-equal(
      susy-normalize-location(2, 3, 1 2 3 5 8),
      3,
      'Valid position returns unchanged');
  }

  @include test('Initial position keyword') {
    @include assert-equal(
      susy-normalize-location(2, 'first', 2 4 6 8),
      1,
      'Valid initial keyword returns 1');
  }

  @include test('Final position keyword') {
    @include assert-equal(
      susy-normalize-location(2, 'last', 2 4 6 8),
      3,
      'Final keyword returns calculated position from end');
  }
}
