// Susy Settings Tests
// ===================


@include test-module('Susy Settings [function]') {

  @include test('Default configuration') {
    $susy: (
      'column-width': 320px,
      'spread': null,
    ) !global;

    @include assert-equal(
      susy-settings(),
      map-merge($susy-defaults, $susy),
      'Returns merged map of Susy default config settings');

    $susy: () !global;
  }

  @include test('Configuration overrides') {
    $override: ('container-spread': 'wider');

    @include assert-equal(
      susy-settings($override),
      map-merge($susy-defaults, $override),
      'Returns merged map of Susy defaults with custom overrides');
  }

  @include test('Multiple overrides') {
    $override1: ('container-spread': 'wider');
    $override2: ('column-width': 4em);

    @include assert-equal(
      susy-settings($override1, $override2),
      map-merge(map-merge($susy-defaults, $override1), $override2),
      'Returns merged map of Susy defaults with multiple overrides');
  }
}


@include test-module('Susy Get [function]') {
  $susy: (
    'column-width': 320px,
    'spread': null,
  ) !global;

  @include test('Get value from user settings') {
    @include assert-equal(
      susy-get('column-width'),
      map-get($susy, 'column-width'),
      'Susy-get and map-get should return the same value');
  }

  @include test('Get falsey value from user settings') {
    @include assert-equal(
      susy-get('spread'),
      map-get($susy, 'spread'),
      'Susy-get and map-get should return the same value');
  }

  @include test('Get value from defaults') {
    @include assert-equal(
      susy-get('container-spread'),
      map-get($susy-defaults, 'container-spread'),
      'Susy-get and map-get should return the same value');
  }

  $susy: () !global;
}
