// Helpers Benchmark
// =================

@import '../../../sass/su/manifest';

@for $i from 1 through 500 {
  $test: su-valid-columns(3);
  $test: su-valid-columns(1 2 4 2);
  $test: su-valid-columns(10cm 200mm 45cm 230mm);

  $test: su-valid-gutters(0.75);
  $test: su-valid-gutters(3em);

  $test: su-valid-spread('wider');
  $test: su-valid-spread(-1);

  $test: su-valid-location(2, 3, 1 2 3 5 8);
  $test: su-valid-location(2, 'first', 2 4 6 8);
  $test: su-valid-location(2, 'last', 2 4 6 8);
}
