// Grid API Benchmark
// ------------------

@import '../../../sass/su/manifest';

@for $i from 1 through 500 {
  $test: su-span(2, 1 1 1 1, 0.25, 'narrow', 'wide');
  $test: su-span(2, 4em 4em 4em 4em, 0.25, 'narrow', 'wide');
  $test: su-span(2 3, 2 4 6 8, 0.25, 'wide', 'wide');
  $test: su-span(50%, 2 4 6 8, 0.25, 'wide', 'wider');

  $test: su-gutter(4, 1em, 'wide');
  $test: su-gutter(2 4 6, 0.25, 'narrow');

  $test: su-sum(1 1 1, 0.5, 'wider');
  $test: su-sum(1em 2em 3em 1em 2em, 0.25, 'narrow');
  $test: su-sum(1 2 3 4, 0.5em, 'narrow');
  $test: su-sum((4), 0.5, 'narrow');

  $test: su-slice(3, 1em 1em 2em 3em 5em 8em, 3);
  $test: su-slice(2.5, 2 4 6 8, 1);
}
