// Grid API Benchmark
// ------------------

@import '../../../sass/su/manifest';

@for $i from 1 through 500 {
  $su-function: su(5, null, 8, 0.25, 'narrow');
  $su-function: su(3, 2, 1 3 2 4 2, 0.25, 'wider');

  $su-is-symmetrical: su-is-symmetrical(3);
  $su-is-symmetrical: su-is-symmetrical(1 1 2 3 5 8);
  $su-is-symmetrical: su-is-symmetrical((4,));

  $su-count: su-count(12);
  $su-count: su-count(1 1 2 3 5 8);

  $su-sum: su-sum(9, 0.5, 'wider');
  $su-sum: su-sum(1 2 3 1 2, 0.25);
  $su-sum: su-sum(1/4);
  $su-sum: su-sum(2.5);

  $su-slice: su-slice(8, null, 3);
  $su-slice: su-slice(3, 3, 1 1 2 3 5 8);
  $su-slice: su-slice(2.5, 1, 2 4 6 8);
  $su-slice: su-slice(3, 'LOCATION FAIL TEST', 12);
}
