// Gutter Syntax
// =============

@include test-module('Gutter Syntax') {

  // gutters
  // -------

  @include output-test('gutters') {
    @include assert-setup('auto', $grid: 7 .5 split);
    @include assert-output(
      'Item should have 2.5% margin-gutters added before and after'
    ) {
      .test { @include gutters(of 7); }
      .expect {
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
    }

    @include assert-setup('inside-static', $grid: 7 (4em 2em) inside-static);
    @include assert-output(
      'Item should have 1em padding-gutters added before and after'
    ) {
      .test { @include gutters; }
      .expect {
        padding-left: 1em;
        padding-right: 1em;
      }
    }

    @include assert-setup('explicit', $grid: 7 .5 inside);
    @include assert-output(
      'Item should have 5em padding-gutters added before and after'
    ) {
      .test { @include gutters(10em); }
      .expect {
        padding-left: 5em;
        padding-right: 5em;
      }
    }
  }

  // gutter
  // ------

  @include test('[function] gutter') {
    $columns: 7;
    $gutters: .5;
    $column-width: 4em;
    $layout-math: fluid;

    // simple
    $test: gutter();
    $expect: 5%;
    @include assert-equal($test, $expect,
      'The default gutter for "7 .5 fluid" should be "#{$expect}"');

    // inside
    $test: gutter(8 .25 inside);
    $expect: 1.25%;
    @include assert-equal($test, $expect,
      'The default gutter for "8 .25 fluid inside" should be "#{$expect}"');

    // inside-static
    $test: gutter(inside-static);
    $expect: 1em;
    @include assert-equal($test, $expect,
      'The default gutter for "7 (4em 2em) fluid inside-static" should be "#{$expect}"');

    // split
    $test: gutter(split);
    $expect: 2.5%;
    @include assert-equal($test, $expect,
      'The default gutter for "7 .5 fluid split" should be "#{$expect}"');

    // partial
    $test: gutter(7);
    $expect: 5%;
    @include assert-equal($test, $expect,
      'The gutter for "7" (.5 fluid) should be "#{$expect}"');

    // explicit
    $gutter: (1 2 3 2 1) (4em 1em) static;
    $test: gutter($gutter);
    $expect: 1em;
    @include assert-equal($test, $expect,
      'The gutter-width for "#{$gutter}" should be "#{$expect}"');

    @include original-grid;
  }

  // get-gutter-width
  // ----------------

  @include test('[function] get-gutter-width') {
    $cols: 1 2 3 2 1;
    $guts: .25;

    // static
    $gutter: get-gutter-width($cols, $guts, 40px, static);
    $expect: 10px;
    @include assert-equal($gutter, $expect,
      'The static gutter-width of "(40px 10px)" should be "10px"');

    // relative
    $gutter: get-gutter-width($cols, $guts);
    $expect: 2.5%;
    @include assert-equal($gutter, $expect,
      'The static gutter-width of "(1 2 3 2 1) .25" should be "2.5%"');

    // inside
    $gutter: get-gutter-width(8, .25, $gutter-position: inside);
    $expect: 2.5%;
    @include assert-equal($gutter, $expect,
      'The static gutter-width of "8 .25" should be "2.5%"');
  }

  // get-gutters
  // -----------

  @include test('[function] get-gutters') {
    $cols: 7;
    $guts: .5;

    // override before
    $test: get-gutters($cols, $guts, false, fluid, before, 30%);
    $expect: 30% null;
    @include assert-equal($test, $expect,
      'A "30% before" gutter should return "30% null" gutters');

    // override after
    $test: get-gutters($cols, $guts, false, fluid, after, 2em);
    $expect: null 2em;
    @include assert-equal($test, $expect,
      'A "2em after" gutter should return "null 2em" gutters');

    // override inside
    $test: get-gutters($cols, $guts, false, fluid, inside, 30px);
    $expect: 15px 15px;
    @include assert-equal($test, $expect,
      'A "30px inside" gutter should return "15px 15px" gutters');

    // before
    $test: get-gutters($cols, $guts, $gutter-position: before);
    $expect: 5% null;
    @include assert-equal($test, $expect,
      'A relative gutter from "7 .5 before" should return "5% null" gutters');

    // after
    $test: get-gutters($cols, $guts, $gutter-position: after);
    $expect: null 5%;
    @include assert-equal($test, $expect,
      'A relative gutter from "7 .5 after" should return "null 5%" gutters');

    // split
    $test: get-gutters($cols, $guts, $gutter-position: split);
    $expect: 2.5% 2.5%;
    @include assert-equal($test, $expect,
      'A relative gutter from "7 .5 split" should return "2.5% 2.5%" gutters');

    // inside
    $test: get-gutters(8, .25, $gutter-position: inside);
    $expect: 1.25% 1.25%;
    @include assert-equal($test, $expect,
      'A relative gutter from "8 .25 inside" should return "1.25% 1.25%" gutters');

    // inside-static
    $test: get-gutters($cols, $guts, 4em, fluid, inside-static);
    $expect: 1em 1em;
    @include assert-equal($test, $expect,
      'A gutter from "7 (4em 2em) inside-static" should return "1em 1em" gutters');
  }

}
