//-----------------------------------------------------------------------------
// Banner

header {
  @include leading-border(3px,.5);
  @include trailer(.5);
  text-align: center;
  border-color: $red;
  h2 {
    @include caps;
    color: $red;
  }
  @include at-breakpoint($medium) {
    @include leading-border(3px,1.5);
    @include trailer(1.5);
  }
}

h1 {
  a { 
    @include adjust-font-size-to(72px,3); 
    @include transition(text-shadow 300ms);
    display: block;
    color: $red;
    b, i {
      @include transition(all 300ms);
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: -.435em;
    }
    i { opacity: 0; }
    #{$focus} { 
      @include text-shadow(rgba(white,.5) 0 1px 0, rgba(white,.5) 0 0 .5em); 
      b, i { letter-spacing: 0; }
      i { opacity: 1; }
    }
    &::before, &::after { 
      @include adjust-font-size-to(48px,3,72px);
      position: relative; 
      top: -.25em; 
      letter-spacing: -.025em;
    }
    &::before { content: '‹'; }
    &::after { content: '›'; }
  }
}