//-----------------------------------------------------------------------------
// Banner

header {
  @include padding-leader(.5);
  @include trailer(.5);
  background: pink;
  text-align: center;
  h2 {
    @include h-borders(1px,.5);
    @include box-shadow(rgba(red,.25) 0 -.5em 3em);
    border-color: rgba(red,.25);
    font-style: italic;
    text-transform: lowercase;
  }
}

h1 {
  a { 
    @include adjust-font-size-to(72px,3); 
    @include text-shadow(rgba(red,.25) 0 1px 0);
    @include transition(text-shadow 300ms);
    display: block;
    color: white;
    b, i {
      display: inline-block;
      text-transform: uppercase;
    }
    i {
      @include transition(all 300ms);
      opacity: 0;
      width: 0;
    }
    #{$focus} { 
      @include text-shadow(rgba(red,.5) 0 1px 0, rgba(red,.5) 0 0 .5em); 
      i {
        opacity: 1;
        width: 1.75em;
      }
    }
    &::before, &::after { 
      @include adjust-font-size-to(48px,3,72px);
      position: relative; 
      top: -.25em; 
      letter-spacing: -.025em;
    }
    &::before { content: '‹'; }
    &::after { content: '›'; }
  }
}