nav {
  @include trailer(.5);
  background: rgba($base2,.5);
  font-style: italic;

  ul { @include inline-block-list; }

  a { 
    #{$link} {
      display: block;
      padding: rhythm(.25) rhythm(.5); 
      color: $base1;
      @extend .icon;
      &[title='source'] { @extend .icon-github-sign; }
      &[href*='zipball'] { @extend .icon-download-alt; }
      &[href*='twitter'] { @extend .icon-twitter-sign; }
    }
    #{$focus} {color: $alt; }
    &::before { 
      @include adjust-font-size-to(24px, 1); 
      vertical-align: middle;
    }
  }
}