//-----------------------------------------------------------------------------
// Settings

$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$break          : 12;

//-----------------------------------------------------------------------------
// Container

.page {
  @include container($total-columns, $break);
}

//-----------------------------------------------------------------------------
// Layout

@include at-breakpoint($break) {
  [role="banner"] {
    @include prefix(2,12);
  }

  [role="main"] {
    @include span-columns(10 omega, 12);
    article { @include span-columns(7,10) }
    aside { @include span-columns(3 omega, 10) }
  }
}

.pagenav {
  display: none;
  @include at-breakpoint($break){
    @include span-columns(2,12);
    display: block;
  }
}

[role="contentinfo"] {
  clear: both;
  margin: 0 0 - $grid-padding;
  padding: rhythm() $grid-padding;
  @include at-breakpoint($break) {
    margin: 0;
    @include pad(2,3,12);
  }
}