// Map Functions
// =============


// Truncate List
// -------------
// Return a list, truncated to a given length
@function _truncate-list(
  $list,
  $length
) {
  $return: ();

  @for $i from 1 through length($list) {
    $return: if($i <= $length, append($return, nth($list, $i)), $return);
  }

  @return $return;
}


// Deep Get
// --------
// Return a value deep in nested maps
@function deep-get(
  $map,
  $keys...
) {
  $return: $map;

  @each $key in $keys {
    @if type-of($return) == map {
      $return: map-get($return, $key);
    }
  }

  @return $return;
}


// Deep Set
// --------
// Set a value deep in nested maps
@function deep-set(
  $map,
  $keys-value...
) {
  $value: nth($keys-value, -1);
  $keys: _truncate-list($keys-value, length($keys-value) - 1);
  $length: length($keys);
  $return: ();

  @for $i from 1 through $length {
    $n: 0 - $i;
    $level: _truncate-list($keys, $length + $n);
    $level: deep-get($map, $level...);
    $merge: (nth($keys, $n): $value);
    $return: if($level, map-merge($level, $merge), $merge);
    $value: $return;
  }

  @return $return;
}


// Deep Has-Key
// ------------
// Return true if a deep key exists
@function deep-has-key(
  $map,
  $keys...
) {
  $return: null;
  $stop: false;

  @each $key in $keys {
    @if not $stop {
      $return: map-has-key($map, $key);
    }

    @if $return {
      $map: map-get($map, $key);
    } @else {
      $stop: true;
    }
  }

  @return $return;
}


// Render
// ------
@mixin render(
  $css
) {
  @each $key, $value in $css {
    @if type-of($value) == map {
      #{$key} {
        @include render($value);
      }
    } @else if $key == 'extend' {
      @extend #{$value};
    } @else {
      #{$key}: $value;
    }
  }
}


// Parse
// -----
@function parse(
  $shorthand,
  $keywords
){
  @if type-of($shorthand) == map {
    @return $shorthand;
  } @else {
    $return: ();

    @each $item in $shorthand {
      @if type-of($item) == map {
        $return: map-merge($return, $item);
      } @else {
        @each $setting, $options in $keywords {
          @if index($options, $item) {
            $return: map-merge($return, ($setting: $item));
          }
        }
      }
    }

    @return $return;
  }
}
