@import "compass";
@import "susy";
@import "base/_fonts";

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: $font-stack;
$base-font-size:   12px;
$base-line-height: 18px;

//Using HTML5 Boilerplate 3.x reset instead of "@include global-reset;"
//Danny likes normalize.css a lot better, which is why
@import "vendor/html5bp.css";

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
  
  &:visited {
    color: $link-color;
  }
  
  &:hover {
    text-decoration: underline;
  }
  
}

/////
// Mixins
/////

@mixin rounded-basic {
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}

@mixin rounded-medium {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

/////
// Vendor
/////

//Code Highlighting
@import "vendor/pygments/solarized";

//Font Awesome
@import "vendor/font-awesome/font-awesome";