@import "compass/css3";
@import "compass/css3/pie";

@import "compass";

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@import "susy";

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: sans-serif;
$base-font-size:   12px;
$base-line-height: 18px;

@include global-reset;

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

//////////
/////Fonts
//////////

/////Adobe Caslon Pro
@include font-face("Caslon", font-files("/fonts/adobe_caslon_pro/adobe_caslon_pro-webfont.woff", "/fonts/adobe_caslon_pro/adobe_caslon_pro-webfont.svg", "/fonts/adobe_caslon_pro/adobe_caslon_pro-webfont.ttf"), "/fonts/adobe_caslon_pro/adobe_caslon_pro-webfont.eot", "normal", "normal");
@include font-face("Caslon Bold", font-files("/fonts/adobe_caslon_pro_semibold/adobe_caslon_pro_semibold-webfont.woff", "/fonts/adobe_caslon_pro_semibold/adobe_caslon_pro_semibold-webfont.svg", "/fonts/adobe_caslon_pro_semibold/adobe_caslon_pro_semibold-webfont.ttf"), "/fonts/adobe_caslon_pro_semibold/adobe_caslon_pro_semibold-webfont.eot", "bold", "normal");
@include font-face("Caslon Italic", font-files("/fonts/adobe_caslon_pro_italic/adobe_caslon_pro_italic-webfont.woff", "/fonts/adobe_caslon_pro_italic/adobe_caslon_pro_italic-webfont.svg", "/fonts/adobe_caslon_pro_italic/adobe_caslon_pro_italic-webfont.ttf"), "/fonts/adobe_caslon_pro_italic/adobe_caslon_pro_italic-webfont.eot", "normal", "italic");
@include font-face("Caslon Bold Italic", font-files("/fonts/adobe_caslon_pro_semibold_italic/adobe_caslon_pro_semibold_italic-webfont.woff", "/fonts/adobe_caslon_pro_semibold_italic/adobe_caslon_pro_semibold_italic-webfont.svg", "/fonts/adobe_caslon_pro_semibold_italic/adobe_caslon_pro_semibold_italic-webfont.ttf"), "/fonts/adobe_caslon_pro_semibold_italic/adobe_caslon_pro_semibold_italic-webfont.eot", "bold", "italic");


//////////
/////Shared
//////////

// Logo
.logo {
  font-family: Caslon, Georgia, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3em;
  color: white;
  text-decoration: none;
  @include single-transition(all, .5s);

  .first-character, .third-character {
    position: relative;
    top: -0.1375em;
  }

  .second-character {

  }

}