//**
//  Susy: Fixed-Elastic-Fluid grids without all the math
//  By: Eric A. Meyer and OddBird Collective
//  Site: www.oddbird.net/susy/
//**

// Font Sizes --------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 24px;

// Grid --------------------------------------------------------------

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

// Don't move this @import above the GRID and FONT-SIZE overrides.
@import "susy/susy";

// Colors --------------------------------------------------------------

$base: black;
$alt: #005498;

// Fonts --------------------------------------------------------------

@mixin sans-family {
  font-family: Helvetica, Arial, sans-serif; 
}

@mixin serif-family {
  font-family: Baskerville, Palatino, serif; 
}

@mixin monospace-family {
  font-family: 'andale mono', 'lucida console', monospace;
}

// OTHER MIXINS --------------------------------------------------------------
// Mixins set here will be available in defaults, screen, print and IE
// Or anywhere you import either base.sass or defaults.sass
