//** DEFAULT STYLES **//
// Don't forget to set your default styles.

// Get all the details and mixins from base.sass
@import "base";

// Reset browser defaults, and prepare block-level HTML5 elements
@import "susy/reset";

/* @group defaults */

body {
  @include sans-family;
  color: $base; 
}

/* @group links */

:focus {
  outline: 1px dotted $alt; 
}

a {
  &:link, &:visited {
    color: $alt; 
  }
  &:focus, &:hover, &:active {
    color: darken($alt,5);
    text-decoration: none; 
  } 
}

/* @end */

/* @group inline tags */

cite { 
  font-style: italic; 
}

em { 
  font-style: italic; 
}

strong { 
  font-weight: bold; 
}

ins { 
  text-decoration: underline; 
}

del { 
  text-decoration: line-through; 
}

q {
  font-style: italic;
  em {
    font-style: normal; 
  } 
}

/* @end */

/* @group replaced tags */

img {
  vertical-align: bottom; 
}

/* @end */

/* @group headers */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; 
}

/* @end */

/* @group block tags */

p {
  @include leader;
  @include trailer; 
}

@mixin list-default($ol: false) {
  @include leader;
  @include trailer;
  @if $ol {
    list-style: decimal; 
  } @else {
    list-style: disc; 
  } 
}

@mixin no-style-list {
  @include no-bullets;
  margin: 0;
  padding: 0; 
}

ol {
  @include list-default(ol); 
}

ul {
  @include list-default; 
}

blockquote {
  margin: $base-rhythm-unit;
  @include serif-family; 
}

/* @end */

/* @group tables */

/* tables still need 'cellspacing="0"' in the markup */

table {
  width: 100%;
  border: {
    width: 0;
    style: solid;
    color: $base; 
  };
  @include horizontal-borders(1px, 0.5); 
}

th {
  font-weight: bold; }

/* @end */

/* @group forms */

fieldset {
  @include trailer; 
}

legend {
  font-weight: bold;
  font-variant: small-caps; 
}

label {
  display: block;
  @include leader; 
}

legend + label {
  margin-top: 0; 
}

textarea, input:not([type="radio"]) {
  // box-sizing will help us control the width of inputs
  // which are otherwise very hard to manage in the grid.
  @include box-sizing(border-box);
  width: 100%; 
}

/* @end */

/* @end */
