//** PRINT STYLES **//

// Based heavily on the work of:
// Paul Irish & Divya Manian: http://html5boilerplate.com/
// And many others, less directly...

// Imports --------------------------------------------------------------

@import "defaults";

/* Print Defaults -------------------------------------------------------------- */

nav {
  display: none; }

* {
  background: transparent !important;
  color: #444444 !important;
  float: none !important;
  text-shadow: none !important; }

body {
  @include serif-family;
  font-size: 12pt;
  background: white;
  color: black; }

a {
  &:link, &:visited {
    color: #444444 !important;
    text-decoration: underline; }
  &:after {
    content: " (" attr(href) ") ";
    font-size: smaller; } }

abbr:after {
  content: " (" attr(title) ")";
  font-size: smaller; }

pre, blockquote, img {
  page-break-inside: avoid; }

@page {
  margin: 0.5cm; }

p, h2, h3 {
  orphans: 3;
  widows: 3; }

h2, h3 {
  page-break-after: avoid; }
