// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

.container {
  @include container;
}