/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */

/* Imports --------------------------------------------------------------*/

@import "defaults";

/* Layout --------------------------------------------------------------*/

@include susy;

// change '#page' to match your HTML container element(s)
#page {
  @include container;
  @include show-grid("grid.png"); }

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width, 
// and 20 is the (optional) line-height.

/* Styles --------------------------------------------------------------*/
