/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */

@import "defaults";

/* @group STRUCTURE */

@include susy;

// change '#page' to match your HTML container element(s)
#page {
  @include container; }

/* @end */

/* @group COMPONENTS by type */

/* @end */

/* @group OVERRIDES by content */

/* @end */

/* @group OVERRIDES by page */

/* @end */

/* @group DEBUG */

// Uncomment, adjust and use for debugging

// #page {
//   @include show-grid("your-grid-image.png"); }

/* @end */
