// ---------------------------------------------------------------------------
// Settings

$sans-stack : 'FranklinGothicFSBook', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$cond-stack : 'FranklinGothicFSCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// ---------------------------------------------------------------------------
// Fonts

// Franklin Gothic Book
@include font-face (
  'FranklinGothicFS',
  font-files(
    'FranklinGothic-Book-webfont.woff', 'woff', 
    'FranklinGothic-Book-webfont.ttf', 'truetype', 
    'FranklinGothic-Book-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-Book-webfont.eot',
  $weight : normal,
  $style  : normal 
);

// Franklin Gothic Book Italic
@include font-face ( 
  'FranklinGothicFS',
  font-files(
    'FranklinGothic-BookIt-webfont.woff', 'woff', 
    'FranklinGothic-BookIt-webfont.ttf', 'truetype', 
    'FranklinGothic-BookIt-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-BookIt-webfont.eot',
  $weight : normal,
  $style  : italic 
);

// Franklin Gothic Medium
@include font-face ( 
  'FranklinGothicFS',
  font-files(
    'FranklinGothic-Med-webfont.woff', 'woff', 
    'FranklinGothic-Med-webfont.ttf', 'truetype', 
    'FranklinGothic-Med-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-Med-webfont.eot',
  $weight : bold,
  $style  : normal 
);

// Franklin Gothic Medium Italic
@include font-face ( 
  'FranklinGothicFS',
  font-files(
    'FranklinGothic-MedIt-webfont.woff', 'woff', 
    'FranklinGothic-MedIt-webfont.ttf', 'truetype', 
    'FranklinGothic-MedIt-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-MedIt-webfont.eot',
  $weight : bold,
  $style  : italic 
);

// Franklin Gothic Condensed
@include font-face ( 
  'FranklinGothicFSCd',
  font-files(
    'FranklinGothic-Cd-webfont.woff', 'woff', 
    'FranklinGothic-Cd-webfont.ttf', 'truetype', 
    'FranklinGothic-Cd-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-Cd-webfont.eot',
  $weight : normal,
  $style  : normal 
);

// Franklin Gothic Condensed Italic
@include font-face ( 
  'FranklinGothicFSCd',
  font-files(
    'FranklinGothic-CdIt-webfont.woff', 'woff', 
    'FranklinGothic-CdIt-webfont.ttf', 'truetype', 
    'FranklinGothic-CdIt-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-CdIt-webfont.eot',
  $weight : normal,
  $style  : italic 
);

// Franklin Gothic Condensed Medium
@include font-face ( 
  'FranklinGothicFSCd',
  font-files(
    'FranklinGothic-MedCd-webfont.woff', 'woff', 
    'FranklinGothic-MedCd-webfont.ttf', 'truetype', 
    'FranklinGothic-MedCd-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-MedCd-webfont.eot',
  $weight : bold,
  $style  : normal 
);

// Franklin Gothic Condensed Medium Italic
@include font-face ( 
  'FranklinGothicFSCd',
  font-files(
    'FranklinGothic-MedCdIt-webfont.woff', 'woff', 
    'FranklinGothic-MedCdIt-webfont.ttf', 'truetype', 
    'FranklinGothic-MedCdIt-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-MedCdIt-webfont.eot',
  $weight : bold,
  $style  : italic 
);
