/////
// Site
/////

header.lead {
  text-align: center;

  h1, h2 {
    margin-bottom: 0em;
    margin-top: 0.1em;
    @include font-stack-serif;
  }
  
  h1 {
    font-weight: normal;
    a {
      &:before { content: "\2039"; }
      &:after { content: "\203A"; }
      .fontface & {
        &:before, &:after {
          font-size: .875em;
          position: relative;
          top: -.16em; 
          letter-spacing: -.025em;
        }
        &:hover, &:focus { 
          b, span { letter-spacing: 0; }
          span { opacity: 1; }
          color: $susy-highlight;
        }
      }
    }
    .fontface & {
      b, span {
        @include transition(all 300ms);
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: -.44em;
      }
      span { opacity: 0; }

    }
  }
}

.content {
  h1, h2, h3, h4, h5, h6 {
    a {
      position: relative;
      display: block;
      color: $susy-bodycopy-dark-20;
      @include font-icon($icon-bookmark,after) { 
        @include transition(all 300ms);
        @include opacity(0);
        position: absolute;
        display: block;
        right: 100%;
        top: 0;
        padding-right: .2em;
        line-height: inherit;
      };
      &:hover {
        color: $susy-bodycopy-dark-20;
        &::after {
          @include opacity(1);
        }
      }
    }
  }
}