/////
// Site
/////

header.lead {
  text-align: center;
  
  h1 {
    margin-bottom: 0em;
    margin-top: 0.1em;
    @include font-stack-serif;
    a {
      &:before {
        content: "\2039";
      }
      &:after {
        content: "\203A";
      }
    }
  }
  h2 {
    @extend h1;
    a {
      &:before { content: none; }
      &:after { content: none; }
    }
  }
}

.content {
  h1, h2, h3, h4, h5, h6 {
    a {
      position: relative;
      display: block;
      color: $susy-bodycopy-dark-20;
      @include font-icon($icon-bookmark,after) { 
        @include transition(all 300ms);
        @include opacity(0);
        position: absolute;
        display: block;
        right: 100%;
        top: 0;
        padding-right: .2em;
        line-height: inherit;
      };
      &:hover {
        color: $susy-bodycopy-dark-20;
        &::after {
          @include opacity(1);
        }
      }
    }
  }
}